
$breakpoints:(
    'xs': 320px,
    "sm": 480px,
    "lsm": 575px,
    "md": 768px,
    "lg": 993px,
    "xl": 1280px,
    "xlmin": 1900px,
);
@mixin breakpoint($bp:0) {
    @media (max-width: $bp) {
        @content;
    }
}

@mixin xlmin {
    @media (min-width: map-get($breakpoints, "xlmin")) {
        @content;
    }
}
@mixin xl {
    @media (max-width: map-get($breakpoints, "xl")) {
        @content;
    }
}


@mixin lg {
    @media (max-width: map-get($breakpoints, "lg")) {
        @content;
    }
}


@mixin md {
    @media (max-width: map-get($breakpoints, "md")) {
        @content;
    }
}


@mixin lsm {
    @media (max-width: map-get($breakpoints, "lsm")) {
        @content;
    }
}



@mixin sm {
    @media (max-width: map-get($breakpoints, "sm")) {
        @content;
    }
}

@mixin xs {
    @media (max-width: map-get($breakpoints, "xs")) {
        @content;
    }
}



