@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: $fontPrimary;
}
// b{
//     color: $black;
// }
[data-scroll-container], [data-scroll-section] {
    transform-style: preserve-3d;
    will-change: transform; 
}
[smooth-scroll]
h1, h2, h3, h4, h5, h6{
    font-family: $fontPrimary;
    margin: 0 !important;
}
a{
    text-decoration:none !important;
}
ul{padding:0 !important;}

p{
    font-family: $fontPrimary;
    margin:0 !important;
    padding:0;
    line-height: 25px;
    font-size: 15px;
}
.in-person {
    color: #fff;
    padding: 0 11px 10px 33px;
    font-size: 12px;
    line-height: 20px;
}
.in-person-tooltip {
    width: 220px;
    display: flex;
    flex-wrap: wrap;
}
.in-person-tooltip p {
    font-size: 12px;
    line-height: 16px;
    padding-top: 7px;
    color: #000;
    padding-left: 25px;
}
@media (min-width:1921px){
    .main-header .menu-right .menu-inner #collapseWidthExample .card-body {
        width: 920px !important;
    }
    .tech-unit {
        background-size: 34%;
    }
    .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
        padding: 18.5px 8px !important;
    }
   
}



//Common Css
.sec-heading{
    font-weight: $Bold;
    color: $PrimaryClr;
    font-size: 32px;
    position: relative;
    @include md{
        font-size: 27px;
    }
}
.HU-icon-responsive{
    display:none;

    @include md{
        display:block;
    }
    @include lsm{
        display:none;
    }
}
.nav-icon3.open {
    left: 6px;
}
.logo-main{
    display:block;
    @include md{
        display:none;
    }
    @include lsm{
        display:block;
    }
}
.link{
    color: $PrimaryClr;
    text-decoration: underline !important;
}
.owl-stage-outer {
    padding: 0 !important;
}
.owl-stage {
    padding-bottom: 5px !important;
}
.owl-carousel {
    @include lg{
        margin: 0 !important;
    }
}
.owl-theme .owl-nav {
    @include sm{
        margin: 0 auto;
    }
}

.owl-stage {
    display: flex;
}
/* Responsive Menu Bar Animation */
.navbar-light .navbar-toggler {
    border: none;
    outline: none;
    padding: 0;
}
  #nav-icon3{
    width: 36px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 2.3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
  
  #nav-icon3 span:nth-child(1) {
    top: 0px;
    width: 20px;
    transform: translateX(-50%);
    left: 50%;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 8px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 16px;
    width: 20px;
    transform: translateX(-50%);
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  #nav-icon3.open span{
    width: 71%;
  }
  
/* Responsive Menu Bar Animation */
//Common Css

// @include FlexDAJ($d-fl, $di-ro,  $al-ce,  $ju-be);
header#main-header.scrolled{
    background-color: $PrimaryClr;
}
.main-header.header-sticky {
    position: fixed;
    width: 100%;
    animation: smoothScroll 1s forwards;
    background-color: $PrimaryClr;
    z-index: 99;
    @include lsm{
        animation: none;
        position: initial;
    }
    
}
@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}
.main-header{
    width: 100%;
    padding: 10px 0;
    position: absolute;
    top: 0;
    z-index: 99;
    @include breakpoint(1366px){
        padding: 15px 0;
    }
    // @include breakpoint(1366px){
    //     padding: 7px 0;
    // }
    .container-sm{
        @include md{
            max-width: 728px !important;
        }
    }
    .logo{
        img{
            width: 100%;
            position: relative;
            z-index: 1;
            @include breakpoint(1199px){
                width: 84%;
            }
            @include md{
                width: 70px;
            }
            
            @include lsm{
                width: 84%;
            }
        }
    }
    .header-rgt{
        @include FlexDAJ($d-fl, $di-ro,  $al-ce,  $ju-ev);
        margin-left: auto;
        width: 100%;
        @include breakpoint(1440px){
            margin-right: 6%;
        }
        @include breakpoint(1366px){
            width: 100%;
        }
        @include breakpoint(1199px){
            width: 100%;
            justify-content: normal;
        }
        @include lg{
            justify-content: flex-start;
        }
        @include md{
            right: 5%;
            position: relative;
        }
        .header-cont{
            @include lsm{
                display:none;
            }
            p{
                color: $white;
                position: relative;
                @include md{
                    font-size: 13px;
                }
                @include sm{
                    font-size: 12px;
                }
                @include lsm{
                    padding-right: 22px;
                }
            }
        }
        .con-ser-desk{
            @include lsm{
                display: none;
            }
            @include breakpoint(1199px){
                margin-right: 20px;
                &:last-child{
                   margin-right: 0px;
                }
            }
            .nav-link {
                padding: 0;
                font-size: 16px;
                color: $white;
                @include lg{
                    font-size: 14px;
                 }
                @include md{
                    font-size: 13px;
                 }
                img{
                    @include breakpoint(1199px){
                        display: none;
                    }
                }
            }
            .dropdown{
                transition: all 0.5s;
                .dropdown-menu{
                    border-radius: 0;
                    li{
                        .dropdown-item{
                            padding: 10px 18px;
                            font-size: 14px;
                            color: $PrimaryClr;
                            border-bottom: 1px solid #ccc;
                            img {
                                width: 16px;
                                margin-right: 4px;
                            }
                            &:hover{
                                background-color:#dbe9fc;
                            }
                        }
                    }
                }
                .mega-menu{
                    // display:flex;
                    flex-direction: row;
                    width: 431px;
                    padding: 19px 12px !important;
                    @include lg{
                        width: 384px;
                    }
                    &.show{
                        display:flex;
                        flex-direction:column;
                    }
                    .meg-inner{
                        display: flex;
                        .mega-menu-content {
                            padding-right: 10px;
                            border-right: 1px solid #ccc;
                            margin-right: 10px;
                            p{
                                font-size:14px;
                            }
                        }
                        .mega-menu-list{
                            li{
                               &:last-child {
                                    a{
                                        border-color:transparent;
                                    }
                                }
                            }
                            
                            
                        }
                    }
                }
                button{
                    color: $white;
                    background-color: transparent;
                    border-color: transparent;
                    outline: none;
                    border-radius: 0;
                    font-size: 16px;
                    transition: all 0.5s;
                    padding: 4px 0px;
                    @include lg{
                        font-size: 14px;
                     }
                    @include md{
                        font-size: 13px;
                     }
                    @include sm{
                       padding: 7px 8px;
                       font-size: 12px;
                    }
                    &::after{
                        display:none !important;
                    }
                    // &:hover{
                    //     box-shadow: 0px -40px 0px 0px inset $white !important;
                    //     color: $PrimaryClr;
                    // }
                    img{
                        @include breakpoint(1199px){
                            display: none;
                        }
                    }
                }
                &:hover{
                    .dropdown-menu{
                        display:flex;
                        flex-direction:column
                    }
                }
                .dropdown-menu.show {
                    display: flex;
                    flex-direction:column
                }
            }
        }
    }

}
.responsive-menu-bar{
    display: none;
    @include lsm{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
    }
    button{
        border: none;
        background: transparent;
        padding: 23px 19px;
        transition: all 0.5s;
    }
    .responsive-Header-sticky{
        background: #004aad;
    }
    
    #collapseWidthExampleOne {
        position: absolute;
        top: 0;
        right: 82px;
        height: 77px;
        // display: flex;
        // align-items: center;
        @include breakpoint(1280px){
            right: 72px;
        }
        @include md{
            right: 62px;
        }
        @include lsm{
            right: 0;
            height: 100vh;
            position: fixed;
            z-index: -1;
        }
        .card-body {
            padding: 0;
            border-radius: 0;
            background: $PrimaryClr;
            border: none !important;
            box-shadow: -25px 0px 17px 1px #00000008;
            @include breakpoint(1366px){
                width: 707px !important;
            }
            @include breakpoint(1280px){
                width: 623px !important;
            }
            @include lg{
                width: 530px !important;
            }
            @include md{
                width: 451px !important;
            }
            @include lsm{
                width: 251px !important;
                height: 100%;
            }
            nav {
                background: $PrimaryClr;
                border: none;
                padding: 9px 0;
                @include md{
                    padding:0;
                }
                @include lsm{
                    padding: 58px 0 0;
                }
                #navbarNav{
                    @include lsm{
                        height: 100vh;
                    }
                    .navbar-nav{
                        flex-direction: $di-ro;
                        @include lsm{
                            flex-direction: $di-co;
                        }
                        .nav-item{
                            .nav-link{
                                color:#fff;
                                padding: 24.5px 29px;
                                @include breakpoint(1366px){
                                    padding: 17.5px 18px;
                                }
                                @include breakpoint(1280px){
                                    padding: 12.5px 12px;
                                }
                                @include lg{
                                    padding: 19.5px 11px;
                                    font-size: 13px;
                                }
                                @include md{
                                    padding: 24.5px 4px;
                                }
                                @include lsm{
                                    padding: 0 0 20px;
                                    outline: none;
                                }
                            }
                        }
                        .nav-item.dropdown{
                                .dropdown-toggle{
                                    &::after{
                                        transform: rotate(0deg);
                                        transition:all 0.5s;
                                    }
                                    &.show{
                                        &::after{
                                            transform: rotate(180deg);
                                        }
                                    }
                                }
                                .dropdown-item{
                                    font-size: 13px;
                                    color: #ffffff;
                                }
                                .dropdown-menu{
                                    background-color: #053f8d;
                                    border-radius: 0;
                                    margin-top: -13px;
                                    margin-bottom: 13px;
                                    &[aria-labelledby="navbarDropdowni"]{
                                        li{
                                            .dropdown-item{
                                                padding:4px 8px;
                                                img{
                                                    filter: brightness(0) invert(1);
                                                    margin-right: 4px;
                                                }
                                            }
                                        }
                                    }
                                }
                        }
                    }
                    .center-img-res{
                        display: none;
                        position: relative;
                        @include lsm{
                            display:block;
                        }
                        .menu-circle {
                            width: 76%;
                            position: absolute;
                            top: -20px;
                        }
                        .menu-circle1 {
                            width: 35%;
                            position: absolute;
                            right: 0;
                            bottom: -172px;
                        }
                    }
                    .lsm-screen-menu{
                        display: none;
                        margin-top: 100%;
                        @include lsm{
                            display:block;
                        }
                        h2{
                            color: #fff;
                            font-weight: 300;
                            font-size: 24px;
                            border-bottom: 1px solid #fff;
                            padding-bottom: 12px;
                            line-height: 31px;
                        }
                        h4{
                            color: #fff;
                            font-size: 15px;
                            font-weight: 600;
                            padding: 13px 0 11px;
                        }
                        ul{
                            list-style-type: none;
                            li{
                                a{
                                    display: flex;
                                    color: #fff;
                                    font-size: 14px;
                                    padding: 5px 0;
                                    img{
                                        filter: brightness(0) invert(1);
                                        width: 15px;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                        .con-ser-desk{
                            display:block;
                        }
                    }
                }
            }
        }
    }
}
.header-right-main{
    position: relative;
    z-index: 999;
    .menu-right{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        
        @include lsm{
            display: none;
         }
        .menu-inner {
            display: flex;
            justify-content: flex-end;
            background: $PrimaryClr;
            box-shadow: -4px 6px 9px 1px rgb(0 0 0 / 12%);
            @include md{
                background: transparent;
            }
            button {
                background: #004aad;
                padding: 29.5px 23px;
                border: none;
                // @include breakpoint(1280px){
                //     padding: 23.5px 18px;
                // }
                @include md{
                    padding: 24.5px 18px; 
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    // box-shadow: 0 0 17px 1px #0000002e;
                    width: 86px;
                    height: 77px;
                    right: 0;
                    @include md{
                        box-shadow: 0 0 0 0 transparent;
                    }
                }
            }
            #collapseWidthExample {
                position: absolute;
                top: 0;
                right: 79px;
                height: 79px;
                box-shadow: -4px 6px 9px 1px rgb(0 0 0 / 12%);
                // display: flex;
                // align-items: center;
                @include breakpoint(1280px){
                    right: 72px;
                }
                @include md{
                    right: 71px;
                    height: 71px;
                }
                @include lsm{
                    right: 0;
                    height: 100vh;
                    position: fixed;
                    z-index: 999;
                }
                .card-body {
                    padding: 0;
                    border-radius: 0;
                    background: $PrimaryClr;
                    border: none !important;
                    box-shadow: -25px 0px 17px 1px #00000008;
                    // @include breakpoint(1366px){
                    //     width: 707px !important;
                    // }
                    // @include breakpoint(1280px){
                    //     width: 648px !important;
                    // }
                    @include lg{
                        width: 373px !important;
                    }
                    @include lsm{
                        width: 251px !important;
                        height: 100%;
                    }
                    nav {
                        background: $PrimaryClr;
                        border: none;
                        padding: 9px 0;
                        @include md{
                            padding:0;
                        }
                        @include lsm{
                            padding: 58px 0 0;
                        }
                        #navbarNav{
                            @include lsm{
                                height: 100vh;
                            }
                            .navbar-nav{
                                flex-direction: $di-ro;
                                @include lsm{
                                    flex-direction: $di-co;
                                }
                                .nav-item{
                                    .nav-link{
                                        color:#fff;
                                        padding: 18.5px 11px;
                                        //  @include breakpoint(1440px){
                                        //     padding: 18.5px 29px;
                                        // }
                                        // @include breakpoint(1280px){
                                        //     padding: 12.5px 12px;
                                        // }
                                        @include lg{
                                            padding: 20.5px 11px;
                                            font-size: 13px;
                                        }
                                        @include md{
                                            padding: 24.5px 11px;
                                        }
                                    }
                                }
                            }
                            .center-img-res{
                                display: none;
                                position: relative;
                                @include lsm{
                                    display:block;
                                }
                                .menu-circle {
                                    width: 76%;
                                    position: absolute;
                                    top: -20px;
                                }
                                .menu-circle1 {
                                    width: 35%;
                                    position: absolute;
                                    right: 0;
                                    bottom: -172px;
                                }
                            }
                            .lsm-screen-menu{
                                display: none;
                                margin-top: 100%;
                                @include lsm{
                                    display:block;
                                }
                                h2{
                                    color: #fff;
                                    font-weight: 300;
                                    font-size: 24px;
                                    border-bottom: 1px solid #fff;
                                    padding-bottom: 12px;
                                    line-height: 31px;
                                }
                                h4{
                                    color: #fff;
                                    font-size: 15px;
                                    font-weight: 600;
                                    padding: 13px 0 11px;
                                }
                                ul{
                                    list-style-type: none;
                                    li{
                                        a{
                                            display: flex;
                                            color: #fff;
                                            font-size: 14px;
                                            padding: 5px 0;
                                            img{
                                                filter: brightness(0) invert(1);
                                                width: 15px;
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                }
                                .con-ser-desk{
                                    display:block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#main-header-sticky{
    position: relative;
    background: $PrimaryClr !important;
    z-index: 9999;
}

.main-banner{
    background:url(../img/main-banner.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    // padding: 220px 0 430px;
    height: 100vh;
    overflow: hidden;
    position:relative;
    @include lg{
       height: auto;
    }
    .banner-layer{
        position:absolute;
        bottom: -160px;
        width:100%;
        @include breakpoint(1366px){
            bottom: -100px;
        }
        @include md{
            display:none;
        }
        @include lsm{
            display: block;
            position: absolute;
            width: 810px;
            transform: translate(-160px, -90px);
        }
        @include sm{
            width: 710px;
            transform: translate(-180px, -89px);
        }
    }
    .container, .row{
        height:100%;
    }
    .banner-content{
        position: relative;
        z-index:1;
        @include lg{
            padding: 110px 0 50px;
        }
        @include md{
            padding: 153px 0 50px;
        }
        @include lsm{
            padding: 153px 0 320px;
        }
        @include sm{
            padding: 126px 0 260px;
        }
        h1,h5,p{
            color:$white;
        }
        h1{
            font-weight:$Bold;
            @include breakpoint(1366px){
                font-size: 2.2rem;
            }
            @include breakpoint(575px){
                font-size: 2rem;
            }
        }
        h5{
            font-weight:$SemiBold;
        }
       .light-para{
           font-weight:$Light;
           padding-bottom: 13px;
           padding-top: 2px;
        }
        .btn-default{
            @include btn-default;
        }
    }
}



.about-us{
    background-attachment: fixed;
    // background-image: url(../img/about-bg.png);  
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 0 220px;
    position: relative;
    overflow: hidden;
    @include lg{
        padding: 110px 0 60px;
    }
    @include md{
        padding: 110px 0 10px;
    }
    @include sm{
        padding: 70px 0 10px;
    }
    .col-lg-5{
        display: flex;
        justify-content: center;
    }
    .building-animation {
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
        @include lg{
            display: none;
        }
    }
    .img-building{
        position: relative;
        bottom: -140px;
        width: 100%;
        @include breakpoint(1440px){
            bottom: -60px;
            width: 100%;
        }
    }
    .about-us-img{
        padding: 110px 0 0;
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        @include lg{
            padding: 30px 0 0;
         }
         @include lsm{
            justify-content: center;
        }
        @include sm{
            padding: 0;
        }
        @include sm{
           padding: 0;
        }
        .circle-elements{
            pointer-events: none;
            .small-cirlc {
                position: absolute;
                top: -10px;
                right: -40px;
                width: 127px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transform: rotate(-34deg);
                @include lg{
                    top: -60px;
                }
                @include lsm{
                    width: 79px;
                }
                @include sm{
                    bottom: -68px;
                    right: 11px;
                    top: initial;
                    width: 79px;
                }
                .circle1{
                    @include lsm{
                        width: 22px;
                    }
                }
                .circle2{
                    @include lsm{
                        width: 41px;
                    }
                }
            }
            .bg-circle {
                position: absolute;
                left: -50px;
                z-index: -1;
                width: 100%;
                top: -100px;
                @include sm{
                    top: initial;
                    bottom: -112px;
                    left: -91px;
                }
            }
        }
        .abt-thumb{
            @include lsm{
                width: 100%;
            }
        }
        .yea-exp {
            border: 2px solid #93bdf7;
            background-color: $PrimaryClr;
            color: #fff;
            padding: 2px 20px 0 0;
            text-decoration: none;
            transition: all 0.5s;
            font-size: 57px;
            font-weight: 600;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: -20px;
            right: -20%;
                @include sm{
                    top: -43px;
                    width: 70%;
                    bottom: initial;
                    padding: 2px 19px;
                    border: 4px solid #93bdf7;
                    transform: translateX(-50%);
                    left: 50%;
                }
                @include xs{
                    padding: 2px 0;
                }
            .w-st{
                font-size: 57px !important;
                font-weight: 700 !important;
                position: relative;
                left: 10px;
                @include sm{
                    font-size: 57px !important;
                    left: 11px;
                }
            }
            span {
                font-size: 16px;
                margin-left: 10px;
                font-weight: 300;
                @include lsm{
                    font-size: 15px;
                }
                @include sm{
                    font-size: 17px;
                }
                @include xs{
                    font-size: 15px;
                }
            }
        }
    }
    .about-content{
        .objec-list{
            li{
                display: flex;
                line-height: 25px;
                padding-bottom: 15px;
                align-items: flex-start;
                img {
                    margin-right: 14px;
                    margin-top:5px;
                }
            }
        }
        @include md{
            padding-top:85px;
        }
        h1{
            padding-bottom: 15px;
        }
        
    }
}

.projects-area{
    background-image: url(../img/project-count-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    @include md{
        background-size: auto;
    }
    .sec-heading{
        text-align:center;
        @include lsm{
            text-align:left;
        }
    }
 .project-box{
    @include FlexDAJ($d-fl, $di-co, $ju-ce, $al-st);
    height: 100%;
    text-align: center;
    padding: 40px 12% 10px;
    background-color: $white;
    margin-top: 30px;
    box-shadow: 0 20px 40px 1px #00000014;
    @include breakpoint(1440px){
        padding: 33px 7%;
    }
    @include breakpoint(1366px){
        padding: 17px 5% 13px;
    }
    @include md{
        // padding: 24px 5%;
        margin: 60px 11px 10px;
        box-shadow: 0 0px 8px 1px #0000002e;
        height: 290px;
    }
    @include lsm{
        display: flex;
    }
     h1,h4{
       color: $PrimaryClr;  
     }
     h1{
         font-weight: $Bold;
         font-size: 62px;
         line-height: 58px;
         @include breakpoint(1280px){
            font-size: 47px;
            line-height: 47px;
         }
     }
     h4{
         padding: 10px 0;
         font-weight: $SemiBold;
         @include breakpoint(1366px){
            font-size: 24px;
         }
     }
     h6{
         color: #888;
         font-weight: $Light;
         padding:3px 0 5px;
     }
 }
 .owl-dots {
    margin-top: 49px;
    .owl-dot{
        
        &.active{
            span{
                width: 35px !important;
                transition: all .5s;
                background: $PrimaryClr !important;
            }
        }
        span{
            width: 12px !important;
            height: 12px !important;
            transition: all .5s;
            background: transparent !important;
            border: 2px solid $PrimaryClr !important;
        }
    }
}
}

.tech-partners{
    padding: 188px 0 360px;
    @include breakpoint(1366px){
        padding: 148px 0 132px;
    }
    @include breakpoint(1199px){
        padding: 148px 0 72px;
    }
    @include lg{
        padding: 119px 0 70px;
    }
    @include md{
      padding: 18px 0 0;
    }
    @include lsm{
        padding: 16px 0 0px;
    }
    .container{
        position: relative;
        .partner-content{
            position: relative;
            padding: 30px 0 380px;
            z-index: 99;
            @include breakpoint(1366px){
                padding: 30px 0 380px;
            }
            @include md{
                padding: 30px 0 0px;
            }
            @include lsm{
                padding: 85px 0 0px;
            }
            .sec-area{
                .sec-heading{
                    @include lsm{
                        // text-align:center;
                    }
                }
                h2{
                    padding-top: 10px;
                    font-weight: $Light;
                    color: $PrimaryClr;
                    line-height: 43px;
                    
 
                    @include md{
                        line-height: 28px;
                        font-size: 22px;
                        padding-bottom: 20px;
                    }
                    @include lsm{
                        line-height: 27px;
                        font-size: 19px;
                    }
                    
                    b{
                        font-weight: $Bold;
                    }
                    br{
                        @include breakpoint(1199px){
                            display:none;
                        }
                        @include sm{
                            display:none;
                        }
                    }
                }
            }
            
            .circle-elements{
                pointer-events: none;
                .small-cirlc {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 127px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transform: rotate(37deg);
                    @include md{
                        bottom: initial;
                        right: 0;
                        left:initial;
                        width: 94px;
                        transform: rotate(-37deg);
                        top: 20px;
                    }
                    .circle1{
                        @include md{
                            width: 22px;
                        }
                    }
                    .circle2{
                        @include md{
                            width: 41px;
                        }
                    }
                }
                .bg-circle {
                    position: absolute;
                    left: -100px;
                    z-index: 0;
                    width: 100%;
                    top: -99px;
                    @include lg{
                        top: -42px;
                    }
                    @include lsm{
                        display:none;
                    }
                }
            }
        }
    
        .partner-boxes {
            // pointer-events: none;
            width: 100%;
            position: absolute;
            top: -30px;
            right: 0;
            display: grid;
            grid-template-columns: repeat(6,16.64%);
            grid-template-rows: repeat(4,28%);
            animation: movedown 5s infinite alternate;
            z-index: 999;
            @include md{
                display:initial;
                width: 100%;
                position: relative;
                padding: 10px 0px;
                &::after {
                    position: absolute;
                    content: '';
                    background: #f0f7ff;
                    width: 100%;
                    left: 0;
                    height: 211px;
                    z-index: -1;
                    bottom: 17px;
                }
                
            }
            @include lsm{
                bottom: 33px;
            }
            .owl-nav{
                button {
                    @include md{
                        transform: translateY(-50%);
                        position: absolute;
                        top: 50%;
                        border: 1px solid transparent !important;
                        border-radius: 0 !important;
                        width: 40px;
                        height: 38px;
                        outline:none !important;
                        box-shadow: 0 0 0px 0px transparent;
                        opacity: 1;
                        background: #f0f7ff;
                    }
                } 
                .owl-prev{
                    @include md{
                        left: 10px;
                    }
                } 
                .owl-next{
                     @include md{
                        right: 10px;
                    }
                }
            }
            .owl-dots {
                @include owl-responsive-style($PrimaryClr);
                
            }
            i {
                font-size: 19px;
                color: #004aad;
            }
            .canvas-box-slider{
                img{
                    width: auto !important;
                    margin: 0 auto !important;
                }
            }
            .canvas-box {
                width: 100%;
                background-color: #fff;
                box-shadow: 0 0 26px 1px #f5f5f5;
                position:relative;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                @include md{
                    height: auto;
                    display:flex;
                    background-color: transparent;
                }
                &:nth-child(odd){
                    box-shadow: 0 0 19px 5px #00000017;
                    position: relative;
                    animation: boxesodd 3s infinite alternate;
                    @include md{
                        animation:none;
                        box-shadow: 0 0 0px 0px#fff;
                    }
                }
                &:nth-child(even){
                    background-color: #f5f5f5;
                    animation: boxeseven 3s infinite alternate;
                    @include md{
                        animation:none;
                        box-shadow: 0 0 0px 0px #fff;
                    }
                }
                &:nth-child(1){
                    grid-area: 1/5/1/5;
                }
                &:nth-child(2){
                    grid-area: 1/6/1/6;
                }
                &:nth-child(3){
                    grid-area: 2/4/3/5
                }
                &:nth-child(4){
                    grid-area: 2/5/3/6;
                }
                &:nth-child(5){
                    grid-area: 2/6/3/7;
                }
                &:nth-child(6){
                    grid-area: 3/3/4/4;
                }
                &:nth-child(7){
                    grid-area: 3/4/4/5;
                }
                &:nth-child(8){
                    grid-area: 3/5/4/6;
                }
                &:nth-child(9){
                    grid-area: 3/6/4/7;
                }
                &:nth-child(10){
                    grid-area: 4/3/5/4;
                }
                &:nth-child(11){
                    grid-area: 4/4/5/5;
                }
                &:nth-child(12){
                    grid-area: 4/5/5/6;
                }
                &:nth-child(13){
                    grid-area: 4/6/5/7;
                }
                &:nth-child(14){
                    grid-area: 4/1/5/2;
                }
                &:nth-child(15){
                    grid-area: 4/2/5/3;
                }
                a{
                    padding: 50px 6%;
                    transition:all 0.5s;
                    &:hover{
                        img{
                            transition:all 0.5s;
                            margin-right: 7px;
                        }
                    }
                    &:hover{
                        .canva-hover{
                            bottom: 15%;
                            @include md{
                                bottom: 16%;
                            }
                        }
                    }
                    .canva-hover{
                        position: absolute;
                        bottom: -100%;
                        left: 0;
                        width: 100%;
                        text-align: center;
                        transition:all .5s;
                        @include md{
                            position:initial;
                            margin-top:15px;
                        }
                        @include lsm{
                            margin-top: 0px;
                        }
                        p{
                            color: rgba(0, 74, 173, 1);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 13px;
                            @include breakpoint(1600px){
                                font-size: 12px;
                            }
                            img{
                                display:none;
                                @include xlmin{
                                    display:block;
                                }
                            }
                            // .hvr-line{
                            //     height: 1px;
                            //     width: 20px;
                            //     background-color: $PrimaryClr;
                            //     display: block;
                            //     margin: 0 2px;
                            // }
                        }
    
                    }
                    @include breakpoint(1366px){
                        padding: 35px 6%;
                    }
                    @include sm{
                        padding: 44px 6%;
                    }
                    @include xs{
                        padding: 35px 6%;
                    }
                    img{
                        transition:all 0.5s;
                        @include md{
                            width:auto !important;
                        }
                    }
                    
                }
            }
        }
    }
}


.tech-unit{
    background-image: url(../img/tech-units.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    .owl-dots {
       @include owl-responsive-style;
    }
    .tech-box-wraper{
        background-color: $PrimaryClr;
        padding: 5%;
        position:relative;
        .sec-heading {
            color: #fff;
            padding-left:20px;
        }
        .tech-unit-row {
            position: relative;
            &::after {
                position: absolute;
                content: '';
                height: 100%;
                width: 1px;
                background-color: #fff;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @include breakpoint(575px){
                    display:none;
                }
            }
            &::before {
                position: absolute;
                content: '';
                height: 1px;
                width: 100%;
                background-color: #fff;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                @include breakpoint(575px){
                    display:none;
                }
            }
            .col-lg-6{
                .techbox{
                    color: #fff;
                    height: 298px;
                    position: relative;
                    z-index: 1;
                    padding-right:28%;
                    padding-top:66px;
                    @include breakpoint(1600px){
                        padding-right: 23%;
                    }
                    @include breakpoint(1440px){
                        padding-right: 11%;
                        height:300px;
                    }
                    @include breakpoint(1199px){
                        height:337px;
                    }
                    @include breakpoint(1199px){
                        height:367px;
                    }
                    @include breakpoint(575px){
                        padding-right: 0%;
                        height:auto;
                    }
                    h5{
                        font-weight: 600;
                        padding-bottom: 10px;
                    }
                    &::after{
                        position:absolute;
                        top: -17px;
                        left: 0;
                        font-size: 87px;
                        z-index: -1;
                        color:#1e60b6;
                        font-weight: 700;
                    }
                }
                &:nth-child(1) {
                    .techbox{
                        margin-left: 20px;
                        &::after{
                            content:'01';
                        }
                    }
                }
                &:nth-child(2){
                    .techbox{
                        margin-left: 15%;
                        @include lsm{
                            margin-left: 20px;
                        }
                        &::after{
                            content:'02';
                        }
                    }
                }
                &:nth-child(3){
                    .techbox{
                        margin-left: 20px;
                        @include lsm{
                            margin-left: 20px;
                        }
                        &::after{
                            content:'03';
                        }
                    }
                }
                &:nth-child(4){
                    .techbox{
                        margin-left: 15%;
                        @include lsm{
                            margin-left: 20px;
                        }
                        &::after{
                            content:'04';
                        }
                    }
                }
            }
            .owl-item{
                &:nth-child(1) {
                    .techbox{
                        margin-left: 20px;
                        &::after{
                            content:'01';
                        }
                    }
                }
                &:nth-child(2){
                    .techbox{
                        margin-left: 15%;
                        @include lsm{
                            margin-left: 20px;
                        }
                        &::after{
                            content:'02';
                        }
                    }
                }
                &:nth-child(3){
                    .techbox{
                        margin-left: 20px;
                        @include lsm{
                            margin-left: 20px;
                        }
                        &::after{
                            content:'03';
                        }
                    }
                }
                &:nth-child(4){
                    .techbox{
                        margin-left: 15%;
                        @include lsm{
                            margin-left: 20px;
                        }
                        &::after{
                            content:'04';
                        }
                    }
                }
            }
        }
        
    }
}

.working-area{
    background-image: url(../img/area-we-working-banner.jpg);
    padding: 70px 0;
    background-size: cover;
    @include md{
        padding: 40px 0;
    }
    @include sm{
        padding: 30px 0;
    }
    @include OwlNavDots;
    .sec-area{
        h1{
            color: $white;
            padding-bottom: 35px;
            @include sm{
                padding-bottom: 13px !important;
            }
        }
    }
    .slide-item{
        height: 100%;
        border:1px solid $white;
        margin: 0 3px;
        .project-box{
            background-color: transparent;
            padding: 24px 3% 10px;
            margin-top: 0px;
            height: 100%;
            justify-content: $ju-st;
            @include lg{
                padding: 24px 3% 6px;
            }
            h1,h4,p{
                color: $white;
            }
            h4{
                font-weight: $SemiBold;
                padding-bottom: 7px;
                @include breakpoint(1366px){
                    font-size: 17px;
                }
            }
        }
    }
}



.director-message{
    padding: 38px 0 60px !important;
   

    @include lg{
        padding: 32px 0 42px !important;
    }
    @include md{
        padding: 15px 0 20px !important;
        overflow:hidden;
    }
    .sec-heading{
        padding-bottom: 15px;
        @include lsm{
            padding-top: 30px;
        }
       
    }
    .partner-content{
        text-align: center;
        padding: 30px 0 20px !important;
        @include lg{
           padding: 30px 0 20px !important;
        }
        @include sm{
            padding: 30px 0 20px !important;
        }
        .circle-elements{
            .small-cirlc{
                @include lg{
                    bottom: -30px !important;
                    transform: rotate(32deg) !important;
                }
                @include lsm{
                    display:none !important;
                }
            }
            .bg-circle{
                top: initial !important;
                bottom: -80px;
                width: 100% !important;
                display:block !important;
            }
        }
        .abt-thumb-main{
            position: relative;
            display: table;
            margin: 0 auto;
            .abt-thumb{
                position: relative;
                width: 137px;
                object-fit: cover;
                height: 167px;
                // @include sm{
                //     width: 100%;
                // }
            }
            .hover-thumb{
                       width: 100%;
                        height: 100%;
                        position: absolute;
                        z-index: 999;
                        @include center(both);
                    a{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // &:hover{
                        //     img{
                        //         transform: scale(1);
                        //         transition: all 0.5s;
                        //         opacity:1;
                        //     }
                        // }
                        img{
                            // border: 2px solid #Fff;
                            // border-radius: 100%;
                            // width: 90px;
                            // height: 90px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            opacity:0;
                            // transform: scale(0);
                            transition: all 0.5s;
                        }
                    }
            }
        }
    }
    .about-content{
        text-align: center;
        .quote0{
            position:relative;
            top:-10px;
            width: 22px;
        }
        .quote1{
            position:relative;
            top:10px;
            width: 22px;
        }
        h5{
            font-weight: $Bold;
        }
        .director-name{
            @include lsm{
                width: 175px;
                margin-left: auto;
            }
            p{
                @include lsm{
                    line-height: 17px;
                    font-size: 14px;
                }
            }
        }
    }
}

.services-area {
    padding: 100px 0;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    // height: 100vh;
    @include breakpoint(1600px){
        padding: 50px 0;
    }
    @include breakpoint(1440px){
        padding: 40px 0;
    }
    @include lg{
        padding: 80px 0;
    }
    @include md{
        padding: 29px 0;
        height: auto;
    }
    @include lsm{
        padding: 45px 0;
    }
    @include sm{
        // padding: 30px 0;
        height: auto;
    }
    .sec-heading{
        text-align:center;
        @include lsm{
            text-align:left;
        }
    }
    .s2-shape {
        position: absolute;
        top: -19%;
        right: -5%;
        @include breakpoint(1600px){
            top: -22%;
            right: -7%;
        }
        @include breakpoint(1440px){
            top: -24%;
            right: -10%;
        }
        @include lg{
            top: -26%;
            right: -16%;
        }
        @include md{
            display: none;
        }
       
    }
    .s1-shape {
        position: absolute;
        bottom: -19%;
        left: -5%;
        @include breakpoint(1600px){
            bottom: -23%;
            left: -8%;
        }
        @include breakpoint(1440px){
            bottom: -29%;
            left: -11%;
        }
        @include lg{
            bottom: -28%;
            left: -163px;
        }
        @include md{
            display: none;
        }
    }
    .hu-services-slider{
        .carousel-indicators{
            position: relative;
            margin: 0;
            border-bottom: 2px solid #cccc;
            padding-bottom: 11px;
            padding-top: 44px;   
            @include lg{
                padding-top: 14px;
            }
            .col-lsm{
                @include lsm{
                    width: 33%;
                }     
            }
            button {
                width: 100%;
                background-color: transparent;
                text-indent: 0px !important;
                font-size: 28px;
                font-weight: $SemiBold;
                color: #888;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 9px 0px;
                @include breakpoint(1440px){
                    font-size: 25px;
                }
                @include breakpoint(1199px){
                    font-size: 19px;
                }
                @include md{
                    font-size: 15px;
                }
            }
            .line-move {
                width: 33.3% !important;
                height: 2px;
                background: $PrimaryClr;
                position: absolute;
                left: 0;
                bottom: -1px;
                display: flex;
                justify-content: center;
                align-items: center;
            }   
            .active{
                color: $PrimaryClr;
                transition: all 0.3s;
            }
            .col-lg-4:nth-child(2){
                .active{
                    transition: all 0.9s;
                    &::after{
                        
                        @include center(horizontal);
                        transition: all 0.9s;
                    }
                }
            }
            .col-lg-4:nth-child(3){
                .active{
                    transition: all 0.9s;
                    &::after{
                       right: 0 !important;
                       left:initial !important;
                       transition: all 0.9s;
                    }
                }
            }
        }
        .carousel-inner{
            margin-top: 23px;
            // @include breakpoint(1199px){
            //     margin-top: 0px;
            // }
            // @include breakpoint(992px){
            //     margin-top: 23px;
            // }
            .back-set-rel{
                // padding: 33px 0;
                display: table;
                // @include breakpoint(1600px){
                //     padding: 25px 0;
                // }
                // @include lsm{
                //     padding: 15px 0;
                // }
                .back-supp{
                    font-size:20px;
                    color: $PrimaryClr;
                    opacity: 0;
                    display: block;
                    position: absolute;
                    right:85px;
                    transition:all 0.5s;
                    z-index: 999;
                    top: 8%;
                    // @include breakpoint(1280px){
                    //     top: 18%;
                    // }
                    @include md{
                        display:none !important;
                    }
                }
            }
            .carousel-item{
                &.active{
                    .back-set-rel{
                        .back-supp{
                            display:none;
                        }
                    }
                }
                .hu-it-serv{
                    .owl-dots{
                        margin: 0 auto;
                    }
                    .owl-nav{
                        margin-top: 0px;
                        button {
                            background: $PrimaryClr !important;
                            border-radius: 0;
                            width: 27px;
                            height: 27px;
                            i{
                                color: #fff;
                            }
                        }
                    }
                }
                .application-wrap{
                    @include FlexDAJ($d-fl, $di-ro , $al-st, $ju-st);
                    height: 700px;
                    position: relative;
                    @include md{
                        height: auto;
                    }
                    .owl-stage-outer{
                        @include lsm{
                            // &::after {
                            //     width: 100%;
                            //     position: absolute;
                            //     content: '';
                            //     height: 100%;
                            //     top: 0;
                            //     box-shadow: 0 0 5px 6px #cccccc;
                            //     border: 1px solid #cccccc2b;
                            // }
                        }
                    }
                    h3 {
                        font-weight: $SemiBold;
                        color: $PrimaryClr;
                        margin-left: 15px !important;
                        font-size: 19px;
                        @include breakpoint(1440px){
                            font-size: 18px;
                         }
                        @include breakpoint(1199px){
                           font-size: 17px;
                        }
                        @include lg{
                            font-size: 14px;
                        }
                        @include lsm{
                            font-size: 18px;
                        }
                        @include sm{
                            margin-left: 9px !important;
                        }
                    }
                    .app-box {
                        width: calc(30% + 3px);
                        box-shadow: 0 0 31px 2px #f0e7e7;
                        // margin-bottom: 45px;
                        display: flex;
                        transition: all 0.5s;
                        position: absolute;
                        cursor: pointer;
                        @include breakpoint(1199px){
                            width: calc(29% + 11px);
                        }
                        @include md{
                            width: 100%;
                            position: initial;
                            display: flex;
                            flex-direction: column;
                            background-color:#fff;
                            box-shadow: 0 0 31px 2px transparent;
                        }
                        
                        &:nth-child(1){
                            left: 0;
                            top:0;
                        }
                        &:nth-child(2){
                            top:0;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        &:nth-child(3){
                            right: 0;
                            top:0;
                        }
                        &:nth-child(4){
                            left:0;
                            top: 33%;
                            transform:translateY(-33%);
                        }
                        &:nth-child(5){
                            left: 50%;
                            top: 33%;
                            transform:translate(-50%, -33%);
                        }
                        &:nth-child(6){
                            right:0;
                            top: 33%;
                            transform:translateY(-33%);
                        }
                        &:nth-child(7){
                            left:0;
                            top: 67%;
                            transform:translateY(-67%);
                        }
                        &:nth-child(8){
                            left: 50%;
                            transform:translate(-50%, -67%);
                            top: 67%;
                        }
                        &:nth-child(9){
                            right:0;
                            top: 67%;
                            transform:translateY(-67%);
                        }
                        &:nth-child(10){
                            left:0;
                            bottom: 0;
                        }
                        .app-header{
                            display: flex;
                            align-items: center;
                            width: 100%;
                            padding: 29px 33px;
                            background-color: #fff;
                            box-shadow: 0 0 31px 2px #f0e7e778;
                            @include breakpoint(1600px){
                                padding: 19px 23px;
                                height: 133px;
                            }
                            @include breakpoint(1366px){
                                height: 131px;
                            }
                            @include lg{
                                height: 125px;
                            }
                            @include md{
                                padding: 20px 19px;
                            }
                            @include lsm{
                                height: 86px;
                                box-shadow: 14px 0px 11px 1px #cccccc6b;
                            }
                            @include sm{
                                padding: 13px
                                px
                                 19px;
                                    height: 96px;
                            }
                            .in-hed-in{
                                display:flex;
                                align-items: center;
                            }
                            .app-icon {
                                @include breakpoint(1600px){
                                    width: 49px;
                                }
                                @include lg{
                                    width: 53px;
                                }
                                @include sm{
                                    width: 32px;
                                }
                            }
                        }
                        .app-content{
                            display:none;
                            margin-top: 24px;
                            padding: 0 31px 31px;
                            cursor: default;
                            width: 100%;
                            @include md{
                                display: flex;
                                flex-direction: column;
                                height: 300px;
                                overflow-y: scroll;
                                overflow-x: hidden;
                                padding: 0 8px 31px;
                                &::-webkit-scrollbar {
                                    width: 10px;
                                  }
                                  
                                  /* Track */
                                  &::-webkit-scrollbar-track {
                                    background: #fff; 
                                  }
                                   
                                  /* Handle */
                                  &::-webkit-scrollbar-thumb {
                                    background: $PrimaryClr; 
                                  }
                                  
                                  /* Handle on hover */
                                  &::-webkit-scrollbar-thumb:hover {
                                    background: $PrimaryClr; 
                                  }
                            }
                            h4, h5 {
                                font-weight: $Bold;
                                @include lsm{
                                    font-size: 15px;
                                    padding-bottom: 10px;
                                }
                            }
                            p{
                                padding: 4px 0 4px;
                                color: #000;
                            }
                            .unified-box-wrap{
                                display: flex;
                                flex-wrap:wrap;
                                margin-top:10px;
                                li{
                                    list-style: none;   
                                    margin: 20px 0;
                                    text-align: center;
                                    width: 20%;
                                    @include md{
                                        width: 33%;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                    }
                                    
                                    @include md{
                                        width: 50%;
                                    }
                                    p{
                                        line-height: 19px;
                                        color:$PrimaryClr;
                                        font-weight: 500;
                                        font-size: 14px;
                                    }
                                    img{
                                        width: auto;
                                    }
                                }
                            }
                            .google-play{
                                @include md{
                                    display:flex;
                                }
                                a{
                                    img{
                                        @include md{
                                            width:auto;
                                        }
                                    }
                                }
                            }
                            
                            .portal-list{
                                display: flex;
                                flex-wrap: wrap;
                                // margin-top: 14px;
                                // @include sm{
                                //     flex-direction: column;
                                //     align-items: center;
                                // }
                                @include md{
                                    margin-top:15px;
                                }
                                li{
                                    margin-right: 21px;
                                    list-style: none;
                                    @include md{
                                        margin-right: 3px;
                                        margin-bottom: 10px;
                                        width: 72%;
                                        display: table;
                                    }
                                    @include lsm{
                                        margin-right: 4px;
                                    }
                                    @include sm{
                                        width: 52%;
                                    }
                                    @include xs{
                                        width: 60%;
                                    }
                                    .btn-default{
                                        @include btn-default;
                                        margin-top: 15px;
                                        @include md{
                                            margin-top: 0;
                                            padding: 8px 16px;
                                            width: auto;
                                            text-align: center;
                                        }
                                    }
                                }
                            } 
                            .epayment{
                                li{
                                    @include sm{
                                        width:100%;
                                    }
                                }
                            }
                            .data-center-list{
                                display: flex;
                                margin-top: 14px;
                                flex-wrap:wrap;
                                li{
                                    margin-right: 14px;
                                    list-style: none;
                                    border: 1px solid #c5c5c5;
                                    margin-top: 14px;
                                    border-radius: 35px;
                                    a{
                                        font-size: 16px;
                                        color: #000;
                                        padding: 7px 7px;
                                        text-align: center;
                                        display: table;  
                                        @include md{
                                            display:flex;
                                            font-size: 13px;
                                        }
                                        @include lsm{
                                            align-items:center;
                                        }
                                        img{
                                            margin-right:8px;
                                            background: #fff;
                                            box-shadow: 1px 3px 6px 1px #cccccc8a;
                                            border-radius: 100%;
                                            @include md{
                                                width: 27px;
                                                // display: none;
                                            }
                                        }   
                                    }
                                }
                                
                            }  
                            .security-policy{
                                border: 2px solid #5f799cc7;
                                margin-top: 20px;
                                ul{
                                    padding-left: 22px !important;
                                    @include lsm{
                                        padding: 0 10px !important;
                                    }
                                    li {
                                        list-style: none;
                                        line-height: 42px;
                                        display: flex;
                                        align-items: center;
                                        padding-bottom: 11px;
                                        @include md{
                                            line-height: 31px;
                                        }
                                        @include lsm{
                                            align-items: flex-start;
                                            line-height: 24px;
                                            // display: table;
                                        }
                                        p{
                                            padding:0;
                                            line-height: 20px;
                                        }
                                        img{
                                            margin-right:12px;
                                            background: #fff;
                                            box-shadow: 1px 3px 6px 1px #cccccc8a;
                                            border-radius: 100%;
                                            @include md{
                                                width:27px;
                                            }
                                            @include lsm{   
                                                width: 19px;
                                                display: inline;
                                            }


                                        }
                                        a{
                                            color: $PrimaryClr;
                                        }
                                    } 
                                }
                                h2.sec-title {
                                    font-size: 19px;
                                    font-weight: 500;
                                    position: relative;
                                    top: -13px;
                                    left: 20px;
                                    background: #ffff;
                                    display: table;
                                    padding: 0 4px;
                                    z-index: 9;
                                    &.setres{
                                        @include sm{
                                            background: transparent;
                                            &:after {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                width: 80%;
                                                height: 100%;
                                                background: #fff;
                                                content: '';
                                                z-index: -1;
                                            }
                                        }
                                    }
                                }
                                h5{
                                    padding-left: 22px;
                                    padding-bottom: 14px;
                                }
                            } 
                            .social-list-items{
                                list-style: none;
                                margin-top: 10px;
                                display: flex;
                                @include md{
                                    flex-direction:column;
                                }
                                li{
                                    width: 50%;
                                    @include md{
                                        width: 100%;
                                    }
                                    &:nth-child(1){
                                        width:20%;
                                        @include md{
                                            width: 100%;
                                        }
                                    }
                                    &:nth-child(2){
                                        width:30%;
                                        @include md{
                                            width: 100%;
                                        }
                                    }
                                    a{
                                        display: flex;
                                        align-items: flex-start;
                                    }
                                    p{
                                        padding: 0;
                                    }
                                    img{
                                        padding-top: 5px;
                                        @include md{
                                            width:auto;
                                        }
                                    }
                                    .in-person-tooltip{
                                        width:100%;
                                        padding-left: 21px;
                                    }
                                }
                            }
                            .social-list{
                                padding-top: 15px !important;
                                display: flex;
                                flex: wrap;
                                li{
                                    list-style-type:none;
                                    margin-right: 10px;
                                    a{
                                        padding: 0 15px 0 30px;
                                        height: 75px;
                                        background: #e1edff;
                                        @include FlexDAJ($d-fl, $di-ro,  $al-ce,  $ju-ce);
                                        transition: all 0.5s;
                                        position: relative;
                                        text-decoration: none;
                                        @include md{
                                            padding: 10px 10px;
                                            height: initial;
                                        }
                                        &:hover{
                                            transition: all 0.5s;
                                            padding-right: 50px;
                                            @include md{
                                                padding-right: 10px !important;
                                            }
                                            p{
                                                transition: all 0.5s;
                                                // transform: scale(1);
                                                font-size: 18px;
                                            }
                                            // @include md{
                                            //     transform: scale(0);
                                            //     font-size: 0px;
                                            // }
                                        }
                                        p{
                                            // transform: scale(0);
                                            font-size: 0px;
                                            margin-left: 17px !important;
                                            font-weight: $SemiBold;
                                            color: $PrimaryClr;
                                            transition: all 0.5s;
                                            transform-origin: left;
                                            @include lg{
                                                display:none !important;
                                            }
                                        }
                                    }
                                }
                            }
                            .bring-own-device{
                                display:flex;
                                @include md{
                                    flex-wrap:wrap;
                                }
                                p{
                                    padding-left:15px;
                                }
                            }
                            // .google-play{
                            //     img{
                            //         width:30px;
                            //     }
                            // }
                        }
                    }
                    .owl-dots {
                        @include owl-responsive-style($PrimaryClr);
                    }
                   
                    .app-box.current{
                        width: 100%;
                        transition: all 0.5s;
                        flex-wrap: wrap;
                        margin: 0;
                        align-content: start;
                        background-color:#fff;
                        top: 0;
                        transform:translate(0,0);
                        left:0;
                        .back-set-rel{
                            display:table;                        
                        }
                        .app-content {
                            // height: 370px;
                            // overflow-y: scroll;
                            /* width */
                            ::-webkit-scrollbar {
                                width: 10px;
                            }
                            @include breakpoint(1280px){
                                padding: 0 21px 21px;
                            }
                            @include lg{
                                padding: 0 21px 11px;
                            }
                            @include md{
                               display: block;
                            }
                        }
                    }
                    
                }
            }
        }
       
    }
        
}

// .line-move {
//     width: 33% !important;
//     height: 1px;
//     background: #000;
//     position: absolute;
//     left: 0;
//     transform: translate(-0%);
// }

footer{
    .inner-footer{
        padding: 62px 35px 25px;
        background-color: $PrimaryClr;
        position: relative;
        @include md{
            padding: 32px 35px 25px;
        }
        @include sm{
            padding: 48px 12px 21px;
            margin: 0px 0;
        }
        &::after{
            content:'HUIT';
            font-size: 240px;
            color: $white;
            pointer-events: none;
            opacity: 0.04;
            position: absolute;
            top: -85px;
            right: 16%;
            font-weight: 700;
            @include breakpoint(1600px){
                right: 9%;
            }
            @include breakpoint(1280px){
                font-size: 150px;
                top: -45px;
            }
        }
        h1, li, a{
            color: $white;
        }
        .footer-left-cont{
            .footer-logo{
                margin-bottom: 15px;
            }
            .address-detail{
                li{
                    line-height: 40px;
                    list-style: none;
                    font-size: 16px;
                    img{
                        margin-right:10px;
                        width: 20px;
                    }
                }
            }
        }
        .footer-right{
            b{
                color:$white;
            }
            h1{
                font-size: 52px;
                padding-bottom: 15px;
                font-weight: $SemiBold;
                @include breakpoint(1280px){
                    font-size: 42px;
                }
                @include lg{
                    font-size: 36px;
                }
                @include sm{
                    font-size: 28px;
                }
            }
            ul{
                li{
                    line-height: 32px;
                    list-style: none;
                    font-size: 16px;
                }
            }
        }
        .copy-right{
            text-align: center;
            color: $white;
            @include sm{
                text-align: center;
            }
        }
    }
}
.projects-box-slider{
    margin: 0 !important;
}



svg {
    height: 100vh;  
    width: 100vw;
  }
  path {
    fill: none;
    stroke-width: 0.5px;
    vector-effect: non-scaling-stroke;
  }
  .animation-banner {
    position: absolute;
    top: 90px;
    @include md{
        display:none;
    }
}


#particle-canvas {
    width: 109%;
    height: 100vh;
    vertical-align: middle;
  }

.appcontent-scroll {
    height: 380px;
    overflow-y: scroll;
    @include breakpoint(1280px){
        height: 287px;
    }
}
/* width */
.appcontent-scroll::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .appcontent-scroll::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  .appcontent-scroll::-webkit-scrollbar-thumb {
    background: $PrimaryClr; 
  }
  
  /* Handle on hover */
  .appcontent-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
