/* Sass code */
/* output */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.banner-18 {
  background-image: url(../img/bg/banner-18.jpg);
}

.banner-19 {
  background-image: url(../img/bg/banner-19.jpg);
}

.banner-20 {
  background-image: url(../img/bg/banner-20.jpg);
}

.banner-21 {
  background-image: url(../img/bg/banner-21.jpg);
}

.banner-22 {
  background-image: url(../img/bg/banner-22.jpg);
}

@-webkit-keyframes boxesodd {
  0% {
    background-color: #f5f5f5;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.0901960784);
    transform: scale(1);
  }
  100% {
    background-color: #fff;
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.0901960784);
    transform: scale(1.01);
  }
}

@keyframes boxesodd {
  0% {
    background-color: #f5f5f5;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.0901960784);
    transform: scale(1);
  }
  100% {
    background-color: #fff;
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.0901960784);
    transform: scale(1.01);
  }
}
@-webkit-keyframes boxeseven {
  0% {
    background-color: #fff;
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.0901960784);
    transform: scale(1);
  }
  100% {
    background-color: #f5f5f5;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.0901960784);
    transform: scale(1.01);
  }
}
@keyframes boxeseven {
  0% {
    background-color: #fff;
    box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.0901960784);
    transform: scale(1);
  }
  100% {
    background-color: #f5f5f5;
    box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.0901960784);
    transform: scale(1.01);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

[data-scroll-container], [data-scroll-section] {
  transform-style: preserve-3d;
  will-change: transform;
}

[smooth-scroll] h1,
h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
}

p {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
  padding: 0;
  line-height: 25px;
  font-size: 15px;
}

.in-person {
  color: #fff;
  padding: 0 11px 10px 33px;
  font-size: 12px;
  line-height: 20px;
}

.in-person-tooltip {
  width: 220px;
  display: flex;
  flex-wrap: wrap;
}

.in-person-tooltip p {
  font-size: 12px;
  line-height: 16px;
  padding-top: 7px;
  color: #000;
  padding-left: 25px;
}

@media (min-width: 1920px) {
  .main-header .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 920px !important;
  }
  .tech-unit {
    background-size: 34%;
  }
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 17.5px 25px !important;
  }
}
.sec-heading {
  font-weight: 700;
  color: rgb(0, 74, 173);
  font-size: 32px;
  position: relative;
}
@media (max-width: 768px) {
  .sec-heading {
    font-size: 27px;
  }
}

.link {
  color: rgb(0, 74, 173);
  text-decoration: underline !important;
}

.owl-stage-outer {
  padding: 0 !important;
}

.owl-stage {
  padding-bottom: 5px !important;
}

@media (max-width: 993px) {
  .owl-carousel {
    margin: 0 !important;
  }
}

@media (max-width: 480px) {
  .owl-theme .owl-nav {
    margin: 0 auto;
  }
}

.owl-stage {
  display: flex;
}

/* Responsive Menu Bar Animation */
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
}

#nav-icon3 {
  width: 36px;
  height: 20px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2.3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
  width: 20px;
  transform: translateX(-50%);
  left: 50%;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
  width: 20px;
  transform: translateX(-50%);
  left: 50%;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span {
  width: 71%;
}

/* Responsive Menu Bar Animation */
.main-header.header-sticky {
  position: fixed;
  width: 100%;
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
  background-color: rgb(0, 74, 173);
  z-index: 99;
}
@media (max-width: 575px) {
  .main-header.header-sticky {
    -webkit-animation: none;
            animation: none;
    position: initial;
  }
}

@-webkit-keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.main-header {
  width: 100%;
  padding: 17px 0;
  position: absolute;
  top: 0;
  z-index: 99;
}
@media (max-width: 768px) {
  .main-header .container-sm {
    max-width: 728px !important;
  }
}
.main-header .logo img {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 1199px) {
  .main-header .logo img {
    width: 84%;
  }
}
@media (max-width: 480px) {
  .main-header .logo img {
    width: 100%;
  }
}
.main-header .header-rgt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  width: 86%;
}
@media (max-width: 1440px) {
  .main-header .header-rgt {
    margin-right: 6%;
  }
}
@media (max-width: 1366px) {
  .main-header .header-rgt {
    width: 100%;
  }
}
@media (max-width: 993px) {
  .main-header .header-rgt {
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .main-header .header-rgt {
    right: 8%;
    position: relative;
  }
}
@media (max-width: 575px) {
  .main-header .header-rgt .header-cont {
    display: none;
  }
}
.main-header .header-rgt .header-cont p {
  color: #fff;
  position: relative;
}
@media (max-width: 768px) {
  .main-header .header-rgt .header-cont p {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .main-header .header-rgt .header-cont p {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .main-header .header-rgt .header-cont p {
    padding-right: 22px;
  }
}
@media (max-width: 575px) {
  .main-header .header-rgt .con-ser-desk {
    display: none;
  }
}
.main-header .header-rgt .con-ser-desk .dropdown {
  transition: all 0.5s;
}
.main-header .header-rgt .con-ser-desk .dropdown .dropdown-menu {
  border-radius: 0;
}
.main-header .header-rgt .con-ser-desk .dropdown .dropdown-menu li .dropdown-item {
  padding: 10px 18px;
  font-size: 14px;
  color: rgb(0, 74, 173);
  border-bottom: 1px solid #ccc;
}
.main-header .header-rgt .con-ser-desk .dropdown .dropdown-menu li .dropdown-item img {
  width: 16px;
  margin-right: 4px;
}
.main-header .header-rgt .con-ser-desk .dropdown .dropdown-menu li .dropdown-item:hover {
  background-color: #dbe9fc;
}
.main-header .header-rgt .con-ser-desk .dropdown .mega-menu {
  flex-direction: row;
  width: 431px;
  padding: 19px 12px !important;
}
@media (max-width: 993px) {
  .main-header .header-rgt .con-ser-desk .dropdown .mega-menu {
    width: 384px;
  }
}
.main-header .header-rgt .con-ser-desk .dropdown .mega-menu.show {
  display: flex;
  flex-direction: column;
}
.main-header .header-rgt .con-ser-desk .dropdown .mega-menu .meg-inner {
  display: flex;
}
.main-header .header-rgt .con-ser-desk .dropdown .mega-menu .meg-inner .mega-menu-content {
  padding-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
}
.main-header .header-rgt .con-ser-desk .dropdown .mega-menu .meg-inner .mega-menu-content p {
  font-size: 14px;
}
.main-header .header-rgt .con-ser-desk .dropdown .mega-menu .meg-inner .mega-menu-list li:last-child a {
  border-color: transparent;
}
.main-header .header-rgt .con-ser-desk .dropdown button {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
  padding: 4px 11px;
}
@media (max-width: 993px) {
  .main-header .header-rgt .con-ser-desk .dropdown button {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .main-header .header-rgt .con-ser-desk .dropdown button {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .main-header .header-rgt .con-ser-desk .dropdown button {
    padding: 7px 8px;
    font-size: 12px;
  }
}
.main-header .header-rgt .con-ser-desk .dropdown button::after {
  display: none !important;
}
.main-header .header-rgt .con-ser-desk .dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}
.main-header .header-rgt .con-ser-desk .dropdown .dropdown-menu.show {
  display: flex;
  flex-direction: column;
}

.responsive-menu-bar {
  display: none;
}
@media (max-width: 575px) {
  .responsive-menu-bar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
  }
}
.responsive-menu-bar button {
  border: none;
  background: transparent;
  padding: 23px 19px;
  transition: all 0.5s;
}
.responsive-menu-bar .responsive-Header-sticky {
  background: #004aad;
}
.responsive-menu-bar #collapseWidthExampleOne {
  position: absolute;
  top: 0;
  right: 82px;
  height: 77px;
}
@media (max-width: 1280px) {
  .responsive-menu-bar #collapseWidthExampleOne {
    right: 72px;
  }
}
@media (max-width: 768px) {
  .responsive-menu-bar #collapseWidthExampleOne {
    right: 62px;
  }
}
@media (max-width: 575px) {
  .responsive-menu-bar #collapseWidthExampleOne {
    right: 0;
    height: 100vh;
    position: fixed;
    z-index: -1;
  }
}
.responsive-menu-bar #collapseWidthExampleOne .card-body {
  padding: 0;
  border-radius: 0;
  background: rgb(0, 74, 173);
  border: none !important;
  box-shadow: -25px 0px 17px 1px rgba(0, 0, 0, 0.031372549);
}
@media (max-width: 1366px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body {
    width: 707px !important;
  }
}
@media (max-width: 1280px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body {
    width: 623px !important;
  }
}
@media (max-width: 993px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body {
    width: 530px !important;
  }
}
@media (max-width: 768px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body {
    width: 451px !important;
  }
}
@media (max-width: 575px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body {
    width: 251px !important;
    height: 100%;
  }
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav {
  background: rgb(0, 74, 173);
  border: none;
  padding: 9px 0;
}
@media (max-width: 768px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav {
    padding: 58px 0 0;
  }
}
@media (max-width: 575px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav {
    height: 100vh;
  }
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav {
  flex-direction: row;
}
@media (max-width: 575px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav {
    flex-direction: column;
  }
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 17.5px 29px;
}
@media (max-width: 1366px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 17.5px 18px;
  }
}
@media (max-width: 1280px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 12.5px 12px;
  }
}
@media (max-width: 993px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 19.5px 11px;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 24.5px 4px;
  }
}
@media (max-width: 575px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 0 0 20px;
    outline: none;
  }
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item.dropdown .dropdown-toggle::after {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item.dropdown .dropdown-toggle.show::after {
  transform: rotate(180deg);
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item.dropdown .dropdown-item {
  font-size: 13px;
  color: #ffffff;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item.dropdown .dropdown-menu {
  background-color: #053f8d;
  border-radius: 0;
  margin-top: -13px;
  margin-bottom: 13px;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item.dropdown .dropdown-menu[aria-labelledby=navbarDropdowni] li .dropdown-item {
  padding: 4px 8px;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .navbar-nav .nav-item.dropdown .dropdown-menu[aria-labelledby=navbarDropdowni] li .dropdown-item img {
  filter: brightness(0) invert(1);
  margin-right: 4px;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .center-img-res {
  display: none;
  position: relative;
}
@media (max-width: 575px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .center-img-res {
    display: block;
  }
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .center-img-res .menu-circle {
  width: 76%;
  position: absolute;
  top: -20px;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .center-img-res .menu-circle1 {
  width: 35%;
  position: absolute;
  right: 0;
  bottom: -172px;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .lsm-screen-menu {
  display: none;
  margin-top: 100%;
}
@media (max-width: 575px) {
  .responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .lsm-screen-menu {
    display: block;
  }
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .lsm-screen-menu h2 {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
  line-height: 31px;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .lsm-screen-menu h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 13px 0 11px;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .lsm-screen-menu ul {
  list-style-type: none;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .lsm-screen-menu ul li a {
  display: flex;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .lsm-screen-menu ul li a img {
  filter: brightness(0) invert(1);
  width: 15px;
  margin-right: 10px;
}
.responsive-menu-bar #collapseWidthExampleOne .card-body nav #navbarNav .lsm-screen-menu .con-ser-desk {
  display: block;
}

.header-right-main {
  position: relative;
  z-index: 999;
}
.header-right-main .menu-right {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 575px) {
  .header-right-main .menu-right {
    display: none;
  }
}
.header-right-main .menu-right .menu-inner {
  display: flex;
  justify-content: flex-end;
  background: rgb(0, 74, 173);
}
@media (max-width: 768px) {
  .header-right-main .menu-right .menu-inner {
    background: transparent;
  }
}
.header-right-main .menu-right .menu-inner button {
  background: #004aad;
  padding: 28.5px 23px;
  border: none;
}
@media (max-width: 1280px) {
  .header-right-main .menu-right .menu-inner button {
    padding: 23.5px 18px;
  }
}
@media (max-width: 768px) {
  .header-right-main .menu-right .menu-inner button {
    padding: 24.5px 18px;
  }
}
.header-right-main .menu-right .menu-inner button::after {
  content: "";
  position: absolute;
  top: 0;
  width: 86px;
  height: 77px;
  right: 0;
}
@media (max-width: 768px) {
  .header-right-main .menu-right .menu-inner button::after {
    box-shadow: 0 0 0 0 transparent;
  }
}
.header-right-main .menu-right .menu-inner #collapseWidthExample {
  position: absolute;
  top: 0;
  right: 82px;
  height: 77px;
}
@media (max-width: 1280px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample {
    right: 72px;
  }
}
@media (max-width: 768px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample {
    right: 62px;
  }
}
@media (max-width: 575px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample {
    right: 0;
    height: 100vh;
    position: fixed;
    z-index: 999;
  }
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body {
  padding: 0;
  border-radius: 0;
  background: rgb(0, 74, 173);
  border: none !important;
  box-shadow: -25px 0px 17px 1px rgba(0, 0, 0, 0.031372549);
}
@media (max-width: 1366px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 707px !important;
  }
}
@media (max-width: 1280px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 648px !important;
  }
}
@media (max-width: 993px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 530px !important;
  }
}
@media (max-width: 768px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 472px !important;
  }
}
@media (max-width: 575px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 251px !important;
    height: 100%;
  }
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav {
  background: rgb(0, 74, 173);
  border: none;
  padding: 9px 0;
}
@media (max-width: 768px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav {
    padding: 58px 0 0;
  }
}
@media (max-width: 575px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav {
    height: 100vh;
  }
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav {
  flex-direction: row;
}
@media (max-width: 575px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav {
    flex-direction: column;
  }
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 17.5px 29px;
}
@media (max-width: 1366px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 17.5px 18px;
  }
}
@media (max-width: 1280px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 12.5px 12px;
  }
}
@media (max-width: 993px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 14.5px 11px;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 24.5px 4px;
  }
}
@media (max-width: 575px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 0 0 20px;
  }
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .center-img-res {
  display: none;
  position: relative;
}
@media (max-width: 575px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .center-img-res {
    display: block;
  }
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .center-img-res .menu-circle {
  width: 76%;
  position: absolute;
  top: -20px;
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .center-img-res .menu-circle1 {
  width: 35%;
  position: absolute;
  right: 0;
  bottom: -172px;
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu {
  display: none;
  margin-top: 100%;
}
@media (max-width: 575px) {
  .header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu {
    display: block;
  }
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu h2 {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
  line-height: 31px;
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 13px 0 11px;
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu ul {
  list-style-type: none;
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu ul li a {
  display: flex;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu ul li a img {
  filter: brightness(0) invert(1);
  width: 15px;
  margin-right: 10px;
}
.header-right-main .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu .con-ser-desk {
  display: block;
}

#main-header-sticky {
  position: relative;
  background: rgb(0, 74, 173) !important;
  z-index: 9999;
}

.main-banner {
  background: url(../img/main-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
@media (max-width: 993px) {
  .main-banner {
    height: auto;
  }
}
.main-banner .banner-layer {
  position: absolute;
  bottom: -160px;
  width: 100%;
}
@media (max-width: 1366px) {
  .main-banner .banner-layer {
    bottom: -100px;
  }
}
@media (max-width: 768px) {
  .main-banner .banner-layer {
    display: none;
  }
}
@media (max-width: 575px) {
  .main-banner .banner-layer {
    display: block;
    position: absolute;
    width: 810px;
    transform: translate(-160px, -90px);
  }
}
@media (max-width: 480px) {
  .main-banner .banner-layer {
    width: 710px;
    transform: translate(-180px, -89px);
  }
}
.main-banner .container, .main-banner .row {
  height: 100%;
}
.main-banner .banner-content {
  position: relative;
  z-index: 1;
}
@media (max-width: 993px) {
  .main-banner .banner-content {
    padding: 110px 0 50px;
  }
}
@media (max-width: 768px) {
  .main-banner .banner-content {
    padding: 153px 0 50px;
  }
}
@media (max-width: 575px) {
  .main-banner .banner-content {
    padding: 153px 0 320px;
  }
}
@media (max-width: 480px) {
  .main-banner .banner-content {
    padding: 126px 0 260px;
  }
}
.main-banner .banner-content h1, .main-banner .banner-content h5, .main-banner .banner-content p {
  color: #fff;
}
.main-banner .banner-content h1 {
  font-weight: 700;
}
@media (max-width: 1366px) {
  .main-banner .banner-content h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 575px) {
  .main-banner .banner-content h1 {
    font-size: 2rem;
  }
}
.main-banner .banner-content h5 {
  font-weight: 600;
}
.main-banner .banner-content .light-para {
  font-weight: 300;
  padding-bottom: 13px;
  padding-top: 2px;
}
.main-banner .banner-content .btn-default {
  border: 2px solid #93bdf7;
  background-color: #004aad;
  color: #fff;
  padding: 14px 26px;
  display: table;
  text-decoration: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
}
@media (max-width: 480px) {
  .main-banner .banner-content .btn-default {
    padding: 9px 16px;
    margin-top: 15px;
    font-size: 13px;
  }
}
.main-banner .banner-content .btn-default .img-white {
  display: inline;
}
.main-banner .banner-content .btn-default .img-blue {
  display: none;
}
.main-banner .banner-content .btn-default img {
  width: 16px;
  margin-right: 5px;
}
.main-banner .banner-content .btn-default:hover {
  box-shadow: 0px -70px 0px 0px inset #fff !important;
  color: #004aad;
}
.main-banner .banner-content .btn-default:hover .img-white {
  display: none;
}
.main-banner .banner-content .btn-default:hover .img-blue {
  display: inline;
}

.about-us {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0 220px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 993px) {
  .about-us {
    padding: 110px 0 60px;
  }
}
@media (max-width: 768px) {
  .about-us {
    padding: 110px 0 10px;
  }
}
@media (max-width: 480px) {
  .about-us {
    padding: 70px 0 10px;
  }
}
.about-us .col-lg-5 {
  display: flex;
  justify-content: center;
}
.about-us .building-animation {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
@media (max-width: 993px) {
  .about-us .building-animation {
    display: none;
  }
}
.about-us .img-building {
  position: relative;
  bottom: -140px;
  width: 100%;
}
@media (max-width: 1440px) {
  .about-us .img-building {
    bottom: -60px;
    width: 100%;
  }
}
.about-us .about-us-img {
  padding: 110px 0 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 993px) {
  .about-us .about-us-img {
    padding: 30px 0 0;
  }
}
@media (max-width: 575px) {
  .about-us .about-us-img {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .about-us .about-us-img {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .about-us .about-us-img {
    padding: 0;
  }
}
.about-us .about-us-img .circle-elements {
  pointer-events: none;
}
.about-us .about-us-img .circle-elements .small-cirlc {
  position: absolute;
  top: -10px;
  right: -40px;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(-34deg);
}
@media (max-width: 993px) {
  .about-us .about-us-img .circle-elements .small-cirlc {
    top: -60px;
  }
}
@media (max-width: 575px) {
  .about-us .about-us-img .circle-elements .small-cirlc {
    width: 79px;
  }
}
@media (max-width: 480px) {
  .about-us .about-us-img .circle-elements .small-cirlc {
    bottom: -68px;
    right: 11px;
    top: initial;
    width: 79px;
  }
}
@media (max-width: 575px) {
  .about-us .about-us-img .circle-elements .small-cirlc .circle1 {
    width: 22px;
  }
}
@media (max-width: 575px) {
  .about-us .about-us-img .circle-elements .small-cirlc .circle2 {
    width: 41px;
  }
}
.about-us .about-us-img .circle-elements .bg-circle {
  position: absolute;
  left: -50px;
  z-index: -1;
  width: 100%;
  top: -100px;
}
@media (max-width: 480px) {
  .about-us .about-us-img .circle-elements .bg-circle {
    top: initial;
    bottom: -112px;
    left: -91px;
  }
}
@media (max-width: 575px) {
  .about-us .about-us-img .abt-thumb {
    width: 100%;
  }
}
.about-us .about-us-img .yea-exp {
  border: 2px solid #93bdf7;
  background-color: rgb(0, 74, 173);
  color: #fff;
  padding: 2px 20px 0 0;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 57px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -20px;
  right: -20%;
}
@media (max-width: 480px) {
  .about-us .about-us-img .yea-exp {
    top: -43px;
    width: 70%;
    bottom: initial;
    padding: 2px 19px;
    border: 4px solid #93bdf7;
    transform: translateX(-50%);
    left: 50%;
  }
}
@media (max-width: 320px) {
  .about-us .about-us-img .yea-exp {
    padding: 2px 0;
  }
}
.about-us .about-us-img .yea-exp .w-st {
  font-size: 57px !important;
  font-weight: 700 !important;
  position: relative;
  left: 10px;
}
@media (max-width: 480px) {
  .about-us .about-us-img .yea-exp .w-st {
    font-size: 57px !important;
    left: 11px;
  }
}
.about-us .about-us-img .yea-exp span {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 300;
}
@media (max-width: 575px) {
  .about-us .about-us-img .yea-exp span {
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .about-us .about-us-img .yea-exp span {
    font-size: 17px;
  }
}
@media (max-width: 320px) {
  .about-us .about-us-img .yea-exp span {
    font-size: 15px;
  }
}
.about-us .about-content .objec-list li {
  display: flex;
  line-height: 25px;
  padding-bottom: 15px;
  align-items: flex-start;
}
.about-us .about-content .objec-list li img {
  margin-right: 14px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .about-us .about-content {
    padding-top: 85px;
  }
}
.about-us .about-content h1 {
  padding-bottom: 15px;
}

.projects-area {
  background-image: url(../img/project-count-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 768px) {
  .projects-area {
    background-size: auto;
  }
}
.projects-area .sec-heading {
  text-align: center;
}
@media (max-width: 575px) {
  .projects-area .sec-heading {
    text-align: left;
  }
}
.projects-area .project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  padding: 40px 12% 10px;
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0 20px 40px 1px rgba(0, 0, 0, 0.0784313725);
}
@media (max-width: 1440px) {
  .projects-area .project-box {
    padding: 33px 7%;
  }
}
@media (max-width: 1366px) {
  .projects-area .project-box {
    padding: 17px 5% 13px;
  }
}
@media (max-width: 768px) {
  .projects-area .project-box {
    margin: 60px 11px 10px;
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.1803921569);
    height: 290px;
  }
}
@media (max-width: 575px) {
  .projects-area .project-box {
    display: flex;
  }
}
.projects-area .project-box h1, .projects-area .project-box h4 {
  color: rgb(0, 74, 173);
}
.projects-area .project-box h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 58px;
}
@media (max-width: 1280px) {
  .projects-area .project-box h1 {
    font-size: 47px;
    line-height: 47px;
  }
}
.projects-area .project-box h4 {
  padding: 10px 0;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .projects-area .project-box h4 {
    font-size: 24px;
  }
}
.projects-area .project-box h6 {
  color: #888;
  font-weight: 300;
  padding: 3px 0 5px;
}
.projects-area .owl-dots {
  margin-top: 49px;
}
.projects-area .owl-dots .owl-dot.active span {
  width: 35px !important;
  transition: all 0.5s;
  background: rgb(0, 74, 173) !important;
}
.projects-area .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  transition: all 0.5s;
  background: transparent !important;
  border: 2px solid rgb(0, 74, 173) !important;
}

.tech-partners {
  padding: 188px 0 360px;
}
@media (max-width: 1366px) {
  .tech-partners {
    padding: 148px 0 132px;
  }
}
@media (max-width: 1199px) {
  .tech-partners {
    padding: 148px 0 72px;
  }
}
@media (max-width: 993px) {
  .tech-partners {
    padding: 119px 0 70px;
  }
}
@media (max-width: 768px) {
  .tech-partners {
    padding: 18px 0 0;
  }
}
@media (max-width: 575px) {
  .tech-partners {
    padding: 16px 0 0px;
  }
}
.tech-partners .container {
  position: relative;
}
.tech-partners .container .partner-content {
  position: relative;
  padding: 30px 0 380px;
  z-index: 99;
}
@media (max-width: 1366px) {
  .tech-partners .container .partner-content {
    padding: 30px 0 380px;
  }
}
@media (max-width: 768px) {
  .tech-partners .container .partner-content {
    padding: 30px 0 0px;
  }
}
@media (max-width: 575px) {
  .tech-partners .container .partner-content {
    padding: 85px 0 0px;
  }
}
.tech-partners .container .partner-content .sec-area h2 {
  padding-top: 10px;
  font-weight: 300;
  color: rgb(0, 74, 173);
  line-height: 43px;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-content .sec-area h2 {
    line-height: 28px;
    font-size: 22px;
    padding-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .tech-partners .container .partner-content .sec-area h2 {
    line-height: 27px;
    font-size: 19px;
  }
}
.tech-partners .container .partner-content .sec-area h2 b {
  font-weight: 700;
}
@media (max-width: 1199px) {
  .tech-partners .container .partner-content .sec-area h2 br {
    display: none;
  }
}
@media (max-width: 480px) {
  .tech-partners .container .partner-content .sec-area h2 br {
    display: none;
  }
}
.tech-partners .container .partner-content .circle-elements {
  pointer-events: none;
}
.tech-partners .container .partner-content .circle-elements .small-cirlc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(37deg);
}
@media (max-width: 768px) {
  .tech-partners .container .partner-content .circle-elements .small-cirlc {
    bottom: initial;
    right: 0;
    left: initial;
    width: 94px;
    transform: rotate(-37deg);
    top: 20px;
  }
}
@media (max-width: 768px) {
  .tech-partners .container .partner-content .circle-elements .small-cirlc .circle1 {
    width: 22px;
  }
}
@media (max-width: 768px) {
  .tech-partners .container .partner-content .circle-elements .small-cirlc .circle2 {
    width: 41px;
  }
}
.tech-partners .container .partner-content .circle-elements .bg-circle {
  position: absolute;
  left: -100px;
  z-index: 0;
  width: 100%;
  top: -99px;
}
@media (max-width: 993px) {
  .tech-partners .container .partner-content .circle-elements .bg-circle {
    top: -42px;
  }
}
@media (max-width: 575px) {
  .tech-partners .container .partner-content .circle-elements .bg-circle {
    display: none;
  }
}
.tech-partners .container .partner-boxes {
  width: 100%;
  position: absolute;
  top: -30px;
  right: 0;
  display: grid;
  grid-template-columns: repeat(6, 16.64%);
  grid-template-rows: repeat(4, 28%);
  -webkit-animation: movedown 5s infinite alternate;
          animation: movedown 5s infinite alternate;
  z-index: 999;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes {
    display: initial;
    width: 100%;
    position: relative;
    padding: 10px 0px;
  }
  .tech-partners .container .partner-boxes::after {
    position: absolute;
    content: "";
    background: #f0f7ff;
    width: 100%;
    left: 0;
    height: 211px;
    z-index: -1;
    bottom: 17px;
  }
}
@media (max-width: 575px) {
  .tech-partners .container .partner-boxes {
    bottom: 33px;
  }
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .owl-nav button {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    border: 1px solid transparent !important;
    border-radius: 0 !important;
    width: 40px;
    height: 38px;
    outline: none !important;
    box-shadow: 0 0 0px 0px transparent;
    opacity: 1;
    background: #f0f7ff;
  }
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .owl-nav .owl-prev {
    left: 10px;
  }
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .owl-nav .owl-next {
    right: 10px;
  }
}
.tech-partners .container .partner-boxes .owl-dots {
  margin-top: 49px;
}
.tech-partners .container .partner-boxes .owl-dots .owl-dot.active span {
  width: 35px !important;
  transition: all 0.5s;
  background: rgb(0, 74, 173) !important;
}
.tech-partners .container .partner-boxes .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  transition: all 0.5s;
  background: transparent !important;
  border: 2px solid rgb(0, 74, 173) !important;
}
.tech-partners .container .partner-boxes i {
  font-size: 19px;
  color: #004aad;
}
.tech-partners .container .partner-boxes .canvas-box-slider img {
  width: auto !important;
  margin: 0 auto !important;
}
.tech-partners .container .partner-boxes .canvas-box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 26px 1px #f5f5f5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .canvas-box {
    height: auto;
    display: flex;
    background-color: transparent;
  }
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(odd) {
  box-shadow: 0 0 19px 5px rgba(0, 0, 0, 0.0901960784);
  position: relative;
  -webkit-animation: boxesodd 3s infinite alternate;
          animation: boxesodd 3s infinite alternate;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .canvas-box:nth-child(odd) {
    -webkit-animation: none;
            animation: none;
    box-shadow: 0 0 0px 0px #fff;
  }
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(even) {
  background-color: #f5f5f5;
  -webkit-animation: boxeseven 3s infinite alternate;
          animation: boxeseven 3s infinite alternate;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .canvas-box:nth-child(even) {
    -webkit-animation: none;
            animation: none;
    box-shadow: 0 0 0px 0px #fff;
  }
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(1) {
  grid-area: 1/5/1/5;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(2) {
  grid-area: 1/6/1/6;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(3) {
  grid-area: 2/4/3/5;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(4) {
  grid-area: 2/5/3/6;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(5) {
  grid-area: 2/6/3/7;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(6) {
  grid-area: 3/3/4/4;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(7) {
  grid-area: 3/4/4/5;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(8) {
  grid-area: 3/5/4/6;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(9) {
  grid-area: 3/6/4/7;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(10) {
  grid-area: 4/3/5/4;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(11) {
  grid-area: 4/4/5/5;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(12) {
  grid-area: 4/5/5/6;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(13) {
  grid-area: 4/6/5/7;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(14) {
  grid-area: 4/1/5/2;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(15) {
  grid-area: 4/2/5/3;
}
.tech-partners .container .partner-boxes .canvas-box a {
  padding: 50px 6%;
  transition: all 0.5s;
}
.tech-partners .container .partner-boxes .canvas-box a:hover img {
  transition: all 0.5s;
  margin-right: 7px;
}
.tech-partners .container .partner-boxes .canvas-box a:hover .canva-hover {
  bottom: 15%;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .canvas-box a:hover .canva-hover {
    bottom: 16%;
  }
}
.tech-partners .container .partner-boxes .canvas-box a .canva-hover {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .canvas-box a .canva-hover {
    position: initial;
    margin-top: 15px;
  }
}
@media (max-width: 575px) {
  .tech-partners .container .partner-boxes .canvas-box a .canva-hover {
    margin-top: 0px;
  }
}
.tech-partners .container .partner-boxes .canvas-box a .canva-hover p {
  color: rgb(0, 74, 173);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
@media (max-width: 1600px) {
  .tech-partners .container .partner-boxes .canvas-box a .canva-hover p {
    font-size: 12px;
  }
}
.tech-partners .container .partner-boxes .canvas-box a .canva-hover p img {
  display: none;
}
@media (min-width: 1900px) {
  .tech-partners .container .partner-boxes .canvas-box a .canva-hover p img {
    display: block;
  }
}
@media (max-width: 1366px) {
  .tech-partners .container .partner-boxes .canvas-box a {
    padding: 35px 6%;
  }
}
@media (max-width: 480px) {
  .tech-partners .container .partner-boxes .canvas-box a {
    padding: 44px 6%;
  }
}
@media (max-width: 320px) {
  .tech-partners .container .partner-boxes .canvas-box a {
    padding: 35px 6%;
  }
}
.tech-partners .container .partner-boxes .canvas-box a img {
  transition: all 0.5s;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .canvas-box a img {
    width: auto !important;
  }
}

.tech-unit {
  background-image: url(../img/tech-units.jpg);
  background-repeat: no-repeat;
  background-position: left center;
}
.tech-unit .owl-dots {
  margin-top: 49px;
}
.tech-unit .owl-dots .owl-dot.active span {
  width: 35px !important;
  transition: all 0.5s;
  background: #fff !important;
}
.tech-unit .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  transition: all 0.5s;
  background: transparent !important;
  border: 2px solid #fff !important;
}
.tech-unit .tech-box-wraper {
  background-color: rgb(0, 74, 173);
  padding: 5%;
  position: relative;
}
.tech-unit .tech-box-wraper .sec-heading {
  color: #fff;
  padding-left: 20px;
}
.tech-unit .tech-box-wraper .tech-unit-row {
  position: relative;
}
.tech-unit .tech-box-wraper .tech-unit-row::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row::after {
    display: none;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row::before {
    display: none;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
  color: #fff;
  height: 270px;
  position: relative;
  z-index: 1;
  padding-right: 28%;
  padding-top: 66px;
}
@media (max-width: 1600px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    padding-right: 23%;
  }
}
@media (max-width: 1440px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    padding-right: 11%;
    height: 300px;
  }
}
@media (max-width: 1199px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    height: 337px;
  }
}
@media (max-width: 1199px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    height: 367px;
  }
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    padding-right: 0%;
    height: auto;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox h5 {
  font-weight: 600;
  padding-bottom: 10px;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox::after {
  position: absolute;
  top: -17px;
  left: 0;
  font-size: 87px;
  z-index: -1;
  color: #1e60b6;
  font-weight: 700;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(1) .techbox {
  margin-left: 20px;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(1) .techbox::after {
  content: "01";
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(2) .techbox {
  margin-left: 15%;
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(2) .techbox {
    margin-left: 0;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(2) .techbox::after {
  content: "02";
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(3) .techbox {
  margin-left: 20px;
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(3) .techbox {
    margin-left: 0;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(3) .techbox::after {
  content: "03";
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(4) .techbox {
  margin-left: 15%;
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(4) .techbox {
    margin-left: 0;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(4) .techbox::after {
  content: "04";
}
.tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(1) .techbox {
  margin-left: 20px;
}
.tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(1) .techbox::after {
  content: "01";
}
.tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(2) .techbox {
  margin-left: 15%;
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(2) .techbox {
    margin-left: 0%;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(2) .techbox::after {
  content: "02";
}
.tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(3) .techbox {
  margin-left: 20px;
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(3) .techbox {
    margin-left: 0%;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(3) .techbox::after {
  content: "03";
}
.tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(4) .techbox {
  margin-left: 15%;
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(4) .techbox {
    margin-left: 0%;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .owl-item:nth-child(4) .techbox::after {
  content: "04";
}

.working-area {
  background-image: url(../img/area-we-working-banner.jpg);
  padding: 70px 0;
  background-size: cover;
}
@media (max-width: 768px) {
  .working-area {
    padding: 40px 0;
  }
}
@media (max-width: 480px) {
  .working-area {
    padding: 30px 0;
  }
}
.working-area .owl-carousel {
  margin: 0 !important;
}
.working-area .owl-carousel .owl-item img {
  width: auto !important;
  margin-bottom: 10px;
}
.working-area .owl-carousel .owl-nav {
  margin-top: 43px;
}
.working-area .owl-carousel .owl-nav button i {
  font-size: 37px;
  color: #fff;
}
.working-area .owl-carousel .owl-nav button:hover {
  background: transparent !important;
}
.working-area .owl-carousel .owl-nav button.disabled {
  opacity: 1;
}
.working-area .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 42%;
}
.working-area .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 42%;
}
.working-area .owl-carousel .owl-dots {
  margin-top: 49px;
}
.working-area .owl-carousel .owl-dots .owl-dot.active span {
  width: 35px !important;
  transition: all 0.5s;
  background: #fff !important;
}
.working-area .owl-carousel .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  transition: all 0.5s;
  background: transparent !important;
  border: 2px solid #fff !important;
}
.working-area .sec-area h1 {
  color: #fff;
  padding-bottom: 35px;
}
@media (max-width: 480px) {
  .working-area .sec-area h1 {
    padding-bottom: 13px !important;
  }
}
.working-area .slide-item {
  height: 100%;
  border: 1px solid #fff;
  margin: 0 3px;
}
.working-area .slide-item .project-box {
  background-color: transparent;
  padding: 24px 3% 10px;
  margin-top: 0px;
  height: 100%;
  justify-content: start;
}
@media (max-width: 993px) {
  .working-area .slide-item .project-box {
    padding: 24px 3% 6px;
  }
}
.working-area .slide-item .project-box h1, .working-area .slide-item .project-box h4, .working-area .slide-item .project-box p {
  color: #fff;
}
.working-area .slide-item .project-box h4 {
  font-weight: 600;
  padding-bottom: 7px;
}
@media (max-width: 1366px) {
  .working-area .slide-item .project-box h4 {
    font-size: 17px;
  }
}

.director-message {
  padding: 38px 0 60px !important;
}
@media (max-width: 993px) {
  .director-message {
    padding: 32px 0 42px !important;
  }
}
@media (max-width: 768px) {
  .director-message {
    padding: 15px 0 20px !important;
    overflow: hidden;
  }
}
.director-message .sec-heading {
  padding-bottom: 15px;
}
@media (max-width: 575px) {
  .director-message .sec-heading {
    padding-top: 30px;
  }
}
.director-message .partner-content {
  text-align: center;
  padding: 30px 0 20px !important;
}
@media (max-width: 993px) {
  .director-message .partner-content {
    padding: 30px 0 20px !important;
  }
}
@media (max-width: 480px) {
  .director-message .partner-content {
    padding: 30px 0 20px !important;
  }
}
@media (max-width: 993px) {
  .director-message .partner-content .circle-elements .small-cirlc {
    bottom: -30px !important;
    transform: rotate(32deg) !important;
  }
}
@media (max-width: 575px) {
  .director-message .partner-content .circle-elements .small-cirlc {
    display: none !important;
  }
}
.director-message .partner-content .circle-elements .bg-circle {
  top: initial !important;
  bottom: -80px;
  width: 100% !important;
  display: block !important;
}
.director-message .partner-content .abt-thumb-main {
  position: relative;
  display: table;
  margin: 0 auto;
}
.director-message .partner-content .abt-thumb-main .abt-thumb {
  position: relative;
  width: 137px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 167px;
}
.director-message .partner-content .abt-thumb-main .hover-thumb {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.director-message .partner-content .abt-thumb-main .hover-thumb a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.director-message .partner-content .abt-thumb-main .hover-thumb a img {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
}
.director-message .about-content {
  text-align: center;
}
.director-message .about-content .quote0 {
  position: relative;
  top: -10px;
  width: 22px;
}
.director-message .about-content .quote1 {
  position: relative;
  top: 10px;
  width: 22px;
}
.director-message .about-content h5 {
  font-weight: 700;
}
@media (max-width: 575px) {
  .director-message .about-content .director-name {
    width: 175px;
    margin-left: auto;
  }
}
@media (max-width: 575px) {
  .director-message .about-content .director-name p {
    line-height: 17px;
    font-size: 14px;
  }
}

.services-area {
  padding: 100px 0;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1600px) {
  .services-area {
    padding: 50px 0;
  }
}
@media (max-width: 1440px) {
  .services-area {
    padding: 40px 0;
  }
}
@media (max-width: 993px) {
  .services-area {
    padding: 80px 0;
  }
}
@media (max-width: 768px) {
  .services-area {
    padding: 29px 0;
    height: auto;
  }
}
@media (max-width: 575px) {
  .services-area {
    padding: 45px 0;
  }
}
@media (max-width: 480px) {
  .services-area {
    height: auto;
  }
}
.services-area .sec-heading {
  text-align: center;
}
@media (max-width: 575px) {
  .services-area .sec-heading {
    text-align: left;
  }
}
.services-area .s2-shape {
  position: absolute;
  top: -19%;
  right: -5%;
}
@media (max-width: 1600px) {
  .services-area .s2-shape {
    top: -22%;
    right: -7%;
  }
}
@media (max-width: 1440px) {
  .services-area .s2-shape {
    top: -24%;
    right: -10%;
  }
}
@media (max-width: 993px) {
  .services-area .s2-shape {
    top: -26%;
    right: -16%;
  }
}
@media (max-width: 768px) {
  .services-area .s2-shape {
    display: none;
  }
}
.services-area .s1-shape {
  position: absolute;
  bottom: -19%;
  left: -5%;
}
@media (max-width: 1600px) {
  .services-area .s1-shape {
    bottom: -23%;
    left: -8%;
  }
}
@media (max-width: 1440px) {
  .services-area .s1-shape {
    bottom: -29%;
    left: -11%;
  }
}
@media (max-width: 993px) {
  .services-area .s1-shape {
    bottom: -28%;
    left: -163px;
  }
}
@media (max-width: 768px) {
  .services-area .s1-shape {
    display: none;
  }
}
.services-area .hu-services-slider .carousel-indicators {
  position: relative;
  margin: 0;
  border-bottom: 2px solid rgba(204, 204, 204, 0.8);
  padding-bottom: 11px;
  padding-top: 44px;
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-indicators {
    padding-top: 14px;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-indicators .col-lsm {
    width: 33%;
  }
}
.services-area .hu-services-slider .carousel-indicators button {
  width: 100%;
  background-color: transparent;
  text-indent: 0px !important;
  font-size: 28px;
  font-weight: 600;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0px;
}
@media (max-width: 1440px) {
  .services-area .hu-services-slider .carousel-indicators button {
    font-size: 25px;
  }
}
@media (max-width: 1199px) {
  .services-area .hu-services-slider .carousel-indicators button {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-indicators button {
    font-size: 15px;
  }
}
.services-area .hu-services-slider .carousel-indicators .line-move {
  width: 33.3% !important;
  height: 2px;
  background: rgb(0, 74, 173);
  position: absolute;
  left: 0;
  bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-area .hu-services-slider .carousel-indicators .active {
  color: rgb(0, 74, 173);
  transition: all 0.3s;
}
.services-area .hu-services-slider .carousel-indicators .col-lg-4:nth-child(2) .active {
  transition: all 0.9s;
}
.services-area .hu-services-slider .carousel-indicators .col-lg-4:nth-child(2) .active::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.9s;
}
.services-area .hu-services-slider .carousel-indicators .col-lg-4:nth-child(3) .active {
  transition: all 0.9s;
}
.services-area .hu-services-slider .carousel-indicators .col-lg-4:nth-child(3) .active::after {
  right: 0 !important;
  left: initial !important;
  transition: all 0.9s;
}
.services-area .hu-services-slider .carousel-inner {
  margin-top: 23px;
}
.services-area .hu-services-slider .carousel-inner .back-set-rel {
  display: table;
}
.services-area .hu-services-slider .carousel-inner .back-set-rel .back-supp {
  font-size: 20px;
  color: rgb(0, 74, 173);
  opacity: 0;
  display: block;
  position: absolute;
  right: 85px;
  transition: all 0.5s;
  z-index: 999;
  top: 8%;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .back-set-rel .back-supp {
    display: none !important;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item.active .back-set-rel .back-supp {
  display: none;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .hu-it-serv .owl-dots {
  margin: 0 auto;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .hu-it-serv .owl-nav {
  margin-top: 0px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .hu-it-serv .owl-nav button {
  background: rgb(0, 74, 173) !important;
  border-radius: 0;
  width: 27px;
  height: 27px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .hu-it-serv .owl-nav button i {
  color: #fff;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
  height: 700px;
  position: relative;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap {
    height: auto;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
  font-weight: 600;
  color: rgb(0, 74, 173);
  margin-left: 15px !important;
  font-size: 19px;
}
@media (max-width: 1440px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    font-size: 17px;
  }
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    margin-left: 9px !important;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box {
  width: calc(30% + 3px);
  box-shadow: 0 0 31px 2px #f0e7e7;
  display: flex;
  transition: all 0.5s;
  position: absolute;
  cursor: pointer;
}
@media (max-width: 1199px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box {
    width: calc(29% + 11px);
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box {
    width: 100%;
    position: initial;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 31px 2px transparent;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(1) {
  left: 0;
  top: 0;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(2) {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(3) {
  right: 0;
  top: 0;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(4) {
  left: 0;
  top: 33%;
  transform: translateY(-33%);
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(5) {
  left: 50%;
  top: 33%;
  transform: translate(-50%, -33%);
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(6) {
  right: 0;
  top: 33%;
  transform: translateY(-33%);
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(7) {
  left: 0;
  top: 67%;
  transform: translateY(-67%);
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(8) {
  left: 50%;
  transform: translate(-50%, -67%);
  top: 67%;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(9) {
  right: 0;
  top: 67%;
  transform: translateY(-67%);
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(10) {
  left: 0;
  bottom: 0;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 29px 33px;
  background-color: #fff;
  box-shadow: 0 0 31px 2px rgba(240, 231, 231, 0.4705882353);
}
@media (max-width: 1600px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    padding: 19px 23px;
    height: 133px;
  }
}
@media (max-width: 1366px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    height: 131px;
  }
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    height: 125px;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    padding: 20px 19px;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    height: 86px;
    box-shadow: 14px 0px 11px 1px rgba(204, 204, 204, 0.4196078431);
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    padding: 13px px 19px;
    height: 96px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header .in-hed-in {
  display: flex;
  align-items: center;
}
@media (max-width: 1600px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header .app-icon {
    width: 49px;
  }
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header .app-icon {
    width: 53px;
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header .app-icon {
    width: 32px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content {
  display: none;
  margin-top: 24px;
  padding: 0 31px 31px;
  cursor: default;
  width: 100%;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 8px 31px;
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content::-webkit-scrollbar {
    width: 10px;
  }
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content::-webkit-scrollbar-track {
    background: #fff;
  }
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content::-webkit-scrollbar-thumb {
    background: rgb(0, 74, 173);
  }
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 74, 173);
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content h4, .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content h5 {
  font-weight: 700;
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content h4, .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content h5 {
    font-size: 15px;
    padding-bottom: 10px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content p {
  padding: 4px 0 4px;
  color: #000;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .unified-box-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .unified-box-wrap li {
  list-style: none;
  margin: 20px 0;
  text-align: center;
  width: 20%;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .unified-box-wrap li {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .unified-box-wrap li {
    width: 50%;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .unified-box-wrap li p {
  line-height: 19px;
  color: rgb(0, 74, 173);
  font-weight: 500;
  font-size: 14px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .unified-box-wrap li img {
  width: auto;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .google-play {
    display: flex;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .google-play a img {
    width: auto;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list {
    margin-top: 15px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li {
  margin-right: 21px;
  list-style: none;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li {
    margin-right: 3px;
    margin-bottom: 10px;
    width: 72%;
    display: table;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li {
    margin-right: 4px;
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li {
    width: 52%;
  }
}
@media (max-width: 320px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li {
    width: 60%;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default {
  border: 2px solid #93bdf7;
  background-color: #004aad;
  color: #fff;
  padding: 14px 26px;
  display: table;
  text-decoration: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
  margin-top: 15px;
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default {
    padding: 9px 16px;
    margin-top: 15px;
    font-size: 13px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default .img-white {
  display: inline;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default .img-blue {
  display: none;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default img {
  width: 16px;
  margin-right: 5px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default:hover {
  box-shadow: 0px -70px 0px 0px inset #fff !important;
  color: #004aad;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default:hover .img-white {
  display: none;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default:hover .img-blue {
  display: inline;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li .btn-default {
    margin-top: 0;
    padding: 8px 16px;
    width: auto;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .epayment li {
    width: 100%;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list {
  display: flex;
  margin-top: 14px;
  flex-wrap: wrap;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li {
  margin-right: 14px;
  list-style: none;
  border: 1px solid #c5c5c5;
  margin-top: 14px;
  border-radius: 35px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li a {
  font-size: 16px;
  color: #000;
  padding: 7px 7px;
  text-align: center;
  display: table;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li a {
    display: flex;
    font-size: 13px;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li a {
    align-items: center;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li a img {
  margin-right: 8px;
  background: #fff;
  box-shadow: 1px 3px 6px 1px rgba(204, 204, 204, 0.5411764706);
  border-radius: 100%;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li a img {
    width: 27px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy {
  border: 2px solid rgba(95, 121, 156, 0.7803921569);
  margin-top: 20px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul {
  padding-left: 22px !important;
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul {
    padding: 0 10px !important;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li {
  list-style: none;
  line-height: 42px;
  display: flex;
  align-items: center;
  padding-bottom: 11px;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li {
    line-height: 31px;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li {
    align-items: flex-start;
    line-height: 24px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li p {
  padding: 0;
  line-height: 20px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li img {
  margin-right: 12px;
  background: #fff;
  box-shadow: 1px 3px 6px 1px rgba(204, 204, 204, 0.5411764706);
  border-radius: 100%;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li img {
    width: 27px;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li img {
    width: 19px;
    display: inline;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li a {
  color: rgb(0, 74, 173);
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy h2.sec-title {
  font-size: 19px;
  font-weight: 500;
  position: relative;
  top: -13px;
  left: 20px;
  background: white;
  display: table;
  padding: 0 4px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy h5 {
  padding-left: 22px;
  padding-bottom: 14px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items {
  list-style: none;
  margin-top: 10px;
  display: flex;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items {
    flex-direction: column;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li {
  width: 50%;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li {
    width: 100%;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li:nth-child(1) {
  width: 20%;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li:nth-child(1) {
    width: 100%;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li:nth-child(2) {
  width: 30%;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li:nth-child(2) {
    width: 100%;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li a {
  display: flex;
  align-items: flex-start;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li p {
  padding: 0;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li img {
  padding-top: 5px;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li img {
    width: auto;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list-items li .in-person-tooltip {
  width: 100%;
  padding-left: 21px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list {
  padding-top: 15px !important;
  display: flex;
  flex: wrap;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li {
  list-style-type: none;
  margin-right: 10px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a {
  padding: 0 15px 0 30px;
  height: 75px;
  background: #e1edff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.5s;
  position: relative;
  text-decoration: none;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a {
    padding: 10px 10px;
    height: initial;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a:hover {
  transition: all 0.5s;
  padding-right: 50px;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a:hover {
    padding-right: 10px !important;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a:hover p {
  transition: all 0.5s;
  font-size: 18px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a p {
  font-size: 0px;
  margin-left: 17px !important;
  font-weight: 600;
  color: rgb(0, 74, 173);
  transition: all 0.5s;
  transform-origin: left;
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a p {
    display: none !important;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .bring-own-device {
  display: flex;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .bring-own-device {
    flex-wrap: wrap;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .bring-own-device p {
  padding-left: 15px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .owl-dots {
  margin-top: 49px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .owl-dots .owl-dot.active span {
  width: 35px !important;
  transition: all 0.5s;
  background: rgb(0, 74, 173) !important;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  transition: all 0.5s;
  background: transparent !important;
  border: 2px solid rgb(0, 74, 173) !important;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current {
  width: 100%;
  transition: all 0.5s;
  flex-wrap: wrap;
  margin: 0;
  align-content: start;
  background-color: #fff;
  top: 0;
  transform: translate(0, 0);
  left: 0;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .back-set-rel {
  display: table;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content {
  /* width */
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content ::-webkit-scrollbar {
  width: 10px;
}
@media (max-width: 1280px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content {
    padding: 0 21px 21px;
  }
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content {
    padding: 0 21px 11px;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content {
    display: block;
  }
}

footer .inner-footer {
  padding: 62px 35px 25px;
  background-color: rgb(0, 74, 173);
  position: relative;
}
@media (max-width: 768px) {
  footer .inner-footer {
    padding: 32px 35px 25px;
  }
}
@media (max-width: 480px) {
  footer .inner-footer {
    padding: 48px 12px 21px;
    margin: 0px 0;
  }
}
footer .inner-footer::after {
  content: "HUIT";
  font-size: 240px;
  color: #fff;
  pointer-events: none;
  opacity: 0.04;
  position: absolute;
  top: -85px;
  right: 16%;
  font-weight: 700;
}
@media (max-width: 1600px) {
  footer .inner-footer::after {
    right: 9%;
  }
}
@media (max-width: 1280px) {
  footer .inner-footer::after {
    font-size: 150px;
    top: -45px;
  }
}
footer .inner-footer h1, footer .inner-footer li, footer .inner-footer a {
  color: #fff;
}
footer .inner-footer .footer-left-cont .footer-logo {
  margin-bottom: 15px;
}
footer .inner-footer .footer-left-cont .address-detail li {
  line-height: 40px;
  list-style: none;
  font-size: 16px;
}
footer .inner-footer .footer-left-cont .address-detail li img {
  margin-right: 10px;
  width: 20px;
}
footer .inner-footer .footer-right b {
  color: #fff;
}
footer .inner-footer .footer-right h1 {
  font-size: 52px;
  padding-bottom: 15px;
  font-weight: 600;
}
@media (max-width: 1280px) {
  footer .inner-footer .footer-right h1 {
    font-size: 42px;
  }
}
@media (max-width: 993px) {
  footer .inner-footer .footer-right h1 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  footer .inner-footer .footer-right h1 {
    font-size: 28px;
  }
}
footer .inner-footer .footer-right ul li {
  line-height: 32px;
  list-style: none;
  font-size: 16px;
}
footer .inner-footer .copy-right {
  text-align: center;
  color: #fff;
}
@media (max-width: 480px) {
  footer .inner-footer .copy-right {
    text-align: center;
  }
}

.projects-box-slider {
  margin: 0 !important;
}

svg {
  height: 100vh;
  width: 100vw;
}

path {
  fill: none;
  stroke-width: 0.5px;
}

.animation-banner {
  position: absolute;
  top: 90px;
}
@media (max-width: 768px) {
  .animation-banner {
    display: none;
  }
}

#particle-canvas {
  width: 109%;
  height: 100vh;
  vertical-align: middle;
}

.appcontent-scroll {
  height: 380px;
  overflow-y: scroll;
}
@media (max-width: 1280px) {
  .appcontent-scroll {
    height: 287px;
  }
}

/* width */
.appcontent-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.appcontent-scroll::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.appcontent-scroll::-webkit-scrollbar-thumb {
  background: rgb(0, 74, 173);
}

/* Handle on hover */
.appcontent-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}/*# sourceMappingURL=style.css.map */