/* Sass code */
/* output */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.banner-18 {
  background-image: url(../img/bg/banner-18.jpg);
}

.banner-19 {
  background-image: url(../img/bg/banner-19.jpg);
}

.banner-20 {
  background-image: url(../img/bg/banner-20.jpg);
}

.banner-21 {
  background-image: url(../img/bg/banner-21.jpg);
}

.banner-22 {
  background-image: url(../img/bg/banner-22.jpg);
}

@keyframes boxesodd {
  0% {
    background-color: #f5f5f5;
    box-shadow: 0 0 0px 0px #00000017;
    transform: scale(1);
  }
  100% {
    background-color: #fff;
    box-shadow: 0 0 19px 5px #00000017;
    transform: scale(1.01);
  }
}
@keyframes boxeseven {
  0% {
    background-color: #fff;
    box-shadow: 0 0 19px 5px #00000017;
    transform: scale(1);
  }
  100% {
    background-color: #f5f5f5;
    box-shadow: 0 0 0px 0px #00000017;
    transform: scale(1.01);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
}

a {
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
}

p {
  font-family: "Poppins", sans-serif;
  margin: 0 !important;
  padding: 0;
  line-height: 25px;
  font-size: 15px;
}

.sec-heading {
  font-weight: 700;
  color: #004aad;
  font-size: 32px;
  position: relative;
}
@media (max-width: 768px) {
  .sec-heading {
    font-size: 27px;
  }
}
@media (max-width: 480px) {
  .sec-heading {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .sec-heading {
    font-size: 22px;
  }
}

.link {
  color: #004aad;
  text-decoration: underline !important;
}

.owl-stage-outer {
  padding: 0 !important;
}

.owl-stage {
  padding-bottom: 5px !important;
}

@media (max-width: 993px) {
  .owl-carousel {
    margin: 0 !important;
  }
}

@media (max-width: 480px) {
  .owl-theme .owl-nav {
    margin: 0 auto;
  }
}

.owl-stage {
  display: flex;
}

/* Responsive Menu Bar Animation */
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
  padding: 0;
}

#nav-icon3 {
  width: 36px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2.3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
  width: 20px;
  transform: translateX(-50%);
  left: 50%;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top: 16px;
  width: 20px;
  transform: translateX(-50%);
  left: 50%;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span {
  width: 71%;
}

/* Responsive Menu Bar Animation */
.main-header.header-sticky {
  position: fixed;
  width: 100%;
  animation: smoothScroll 1s forwards;
  background-color: #004aad;
  z-index: 99;
}
@media (max-width: 575px) {
  .main-header.header-sticky {
    animation: none;
    position: initial;
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.main-header {
  width: 100%;
  padding: 17px 0;
  position: absolute;
  top: 0;
  z-index: 99;
}
@media (max-width: 768px) {
  .main-header .container-sm {
    max-width: 640px !important;
  }
}
.main-header .logo img {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .main-header .logo img {
    width: 84%;
  }
}
@media (max-width: 480px) {
  .main-header .logo img {
    width: 100%;
  }
}
.main-header .header-right-main {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}
.main-header .header-right-main .header-rgt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
}
@media (max-width: 1600px) {
  .main-header .header-right-main .header-rgt {
    width: 87%;
  }
}
@media (max-width: 1440px) {
  .main-header .header-right-main .header-rgt {
    width: 96%;
  }
}
@media (max-width: 1366px) {
  .main-header .header-right-main .header-rgt {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .main-header .header-right-main .header-rgt {
    width: 85%;
  }
}
@media (max-width: 993px) {
  .main-header .header-right-main .header-rgt {
    width: 97%;
  }
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt {
    width: 51%;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt {
    justify-content: flex-end;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .header-cont {
    display: none;
  }
}
.main-header .header-right-main .header-rgt .header-cont p {
  color: #fff;
  position: relative;
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt .header-cont p {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .main-header .header-right-main .header-rgt .header-cont p {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .header-cont p {
    padding-right: 22px;
  }
}
.main-header .header-right-main .header-rgt .header-cont p::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 52%;
  right: -59%;
}
@media (max-width: 1600px) {
  .main-header .header-right-main .header-rgt .header-cont p::after {
    width: 36%;
    right: -43%;
  }
}
@media (max-width: 1366px) {
  .main-header .header-right-main .header-rgt .header-cont p::after {
    width: 29%;
    right: -34%;
  }
}
@media (max-width: 1280px) {
  .main-header .header-right-main .header-rgt .header-cont p::after {
    width: 29%;
    right: -32%;
  }
}
@media (max-width: 1199px) {
  .main-header .header-right-main .header-rgt .header-cont p::after {
    width: 48%;
    right: -52%;
  }
}
@media (max-width: 993px) {
  .main-header .header-right-main .header-rgt .header-cont p::after {
    width: 38%;
    right: -42%;
  }
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt .header-cont p::after {
    display: none;
  }
}
@media (max-width: 480px) {
  .main-header .header-right-main .header-rgt .header-cont p::after {
    display: none;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .con-ser-desk {
    display: none;
  }
}
.main-header .header-right-main .header-rgt .con-ser-desk .dropdown {
  transition: all 0.5s;
}
.main-header .header-right-main .header-rgt .con-ser-desk .dropdown .dropdown-menu {
  border-radius: 0;
}
.main-header .header-right-main .header-rgt .con-ser-desk .dropdown .dropdown-menu li .dropdown-item {
  padding: 6px 8px;
  font-size: 12px;
  color: #004aad;
  border-bottom: 1px solid #ccc;
}
.main-header .header-right-main .header-rgt .con-ser-desk .dropdown .dropdown-menu li .dropdown-item img {
  width: 18px;
}
.main-header .header-right-main .header-rgt .con-ser-desk .dropdown button {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  outline: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
  padding: 4px 11px;
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt .con-ser-desk .dropdown button {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .main-header .header-right-main .header-rgt .con-ser-desk .dropdown button {
    padding: 7px 8px;
    font-size: 12px;
  }
}
.main-header .header-right-main .header-rgt .con-ser-desk .dropdown button::after {
  display: none !important;
}
.main-header .header-right-main .header-rgt .con-ser-desk .dropdown button:hover {
  box-shadow: 0px -40px 0px 0px inset #fff !important;
  color: #004aad;
}
.main-header .header-right-main .header-rgt .con-ser-desk .dropdown:hover .dropdown-menu {
  display: block;
}
.main-header .header-right-main .header-rgt .menu-right {
  display: flex;
  justify-content: flex-end;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner {
  display: flex;
  justify-content: flex-end;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner button {
  background: #004aad;
  padding: 28.5px 23px;
  border: none;
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner button {
    padding: 30.5px 18px;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner button {
    position: fixed;
    z-index: 9999;
  }
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample {
  position: absolute;
  top: 0;
  right: 82px;
  height: 77px;
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample {
    right: 62px;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample {
    right: 0;
    height: 100vh;
    position: fixed;
    z-index: 999;
  }
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body {
  padding: 0;
  border-radius: 0;
  background: #004aad;
  border: none !important;
}
@media (max-width: 1366px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 707px !important;
  }
}
@media (max-width: 1280px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 623px !important;
  }
}
@media (max-width: 993px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 530px !important;
  }
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 427px !important;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body {
    width: 251px !important;
    height: 100%;
  }
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav {
  background: #004aad;
  border: none;
  padding: 9px 0;
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav {
    padding: 0;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav {
    padding: 58px 0 0;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav {
    height: 100vh;
  }
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav {
  flex-direction: row;
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav {
    flex-direction: column;
  }
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
  color: #fff;
  padding: 17.5px 32px;
}
@media (max-width: 1280px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 17.5px 22px;
  }
}
@media (max-width: 1199px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 17.5px 20px;
  }
}
@media (max-width: 993px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 19.5px 18px;
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 30.5px 10px;
  }
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .navbar-nav .nav-item .nav-link {
    padding: 0 0 20px;
  }
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .center-img-res {
  display: none;
  position: relative;
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .center-img-res {
    display: block;
  }
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .center-img-res .menu-circle {
  width: 76%;
  position: absolute;
  top: -20px;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .center-img-res .menu-circle1 {
  width: 35%;
  position: absolute;
  right: 0;
  bottom: -172px;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu {
  display: none;
  margin-top: 100%;
}
@media (max-width: 575px) {
  .main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu {
    display: block;
  }
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu h2 {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  border-bottom: 1px solid #fff;
  padding-bottom: 12px;
  line-height: 31px;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 13px 0 11px;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu ul {
  list-style-type: none;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu ul li a {
  display: flex;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu ul li a img {
  filter: brightness(0) invert(1);
  width: 15px;
  margin-right: 10px;
}
.main-header .header-right-main .header-rgt .menu-right .menu-inner #collapseWidthExample .card-body nav #navbarNav .lsm-screen-menu .con-ser-desk {
  display: block;
}

#main-header-sticky {
  position: relative;
  background: #004aad !important;
  z-index: 9999;
}

.main-banner {
  background: url(../img/main-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
@media (max-width: 993px) {
  .main-banner {
    height: auto;
  }
}
.main-banner .banner-layer {
  position: absolute;
  bottom: -160px;
  width: 100%;
}
@media (max-width: 1366px) {
  .main-banner .banner-layer {
    bottom: -100px;
  }
}
@media (max-width: 768px) {
  .main-banner .banner-layer {
    display: none;
  }
}
.main-banner .container, .main-banner .row {
  height: 100%;
}
.main-banner .banner-content {
  position: relative;
  z-index: 1;
}
@media (max-width: 993px) {
  .main-banner .banner-content {
    padding: 110px 0 50px;
  }
}
@media (max-width: 768px) {
  .main-banner .banner-content {
    padding: 153px 0 50px;
  }
}
@media (max-width: 480px) {
  .main-banner .banner-content {
    padding: 126px 0 50px;
  }
}
.main-banner .banner-content h1, .main-banner .banner-content h5, .main-banner .banner-content p {
  color: #fff;
}
.main-banner .banner-content h1 {
  font-weight: 700;
}
.main-banner .banner-content h5 {
  font-weight: 600;
}
.main-banner .banner-content .light-para {
  font-weight: 300;
  padding-bottom: 13px;
  padding-top: 2px;
}
.main-banner .banner-content .btn-default {
  border: 2px solid #93bdf7;
  background-color: #004aad;
  color: #fff;
  padding: 14px 26px;
  display: table;
  text-decoration: none;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.5s;
}
.main-banner .banner-content .btn-default:hover {
  box-shadow: 0px -70px 0px 0px inset #fff !important;
  color: #004aad;
}

.about-us {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0 220px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 993px) {
  .about-us {
    padding: 110px 0 60px;
  }
}
@media (max-width: 768px) {
  .about-us {
    padding: 110px 0 10px;
  }
}
@media (max-width: 480px) {
  .about-us {
    padding: 40px 0 10px;
  }
}
.about-us .building-animation {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 993px) {
  .about-us .building-animation {
    display: none;
  }
}
.about-us .img-building {
  position: relative;
  bottom: -140px;
}
@media (max-width: 1440px) {
  .about-us .img-building {
    bottom: -60px;
    width: 100%;
  }
}
.about-us .about-us-img {
  padding: 110px 0 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 993px) {
  .about-us .about-us-img {
    padding: 30px 0 0;
  }
}
@media (max-width: 575px) {
  .about-us .about-us-img {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .about-us .about-us-img {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .about-us .about-us-img {
    padding: 0;
  }
}
.about-us .about-us-img .circle-elements {
  pointer-events: none;
}
@media (max-width: 480px) {
  .about-us .about-us-img .circle-elements {
    display: none;
  }
}
.about-us .about-us-img .circle-elements .small-cirlc {
  position: absolute;
  top: -10px;
  right: -40px;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(-34deg);
}
@media (max-width: 993px) {
  .about-us .about-us-img .circle-elements .small-cirlc {
    top: -60px;
  }
}
@media (max-width: 575px) {
  .about-us .about-us-img .circle-elements .small-cirlc {
    right: 0px;
  }
}
.about-us .about-us-img .circle-elements .bg-circle {
  position: absolute;
  left: -50px;
  z-index: -1;
  width: 100%;
  top: -100px;
}
.about-us .about-us-img .yea-exp {
  border: 2px solid #93bdf7;
  background-color: #004aad;
  color: #fff;
  padding: 2px 20px 0 0;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 57px;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -20px;
  right: -20%;
}
@media (max-width: 575px) {
  .about-us .about-us-img .yea-exp {
    left: 4%;
    right: auto;
  }
}
@media (max-width: 480px) {
  .about-us .about-us-img .yea-exp {
    transform: translateX(-50%);
    left: 50%;
    right: auto;
    padding: 2px 13px;
    font-size: 41px;
  }
}
.about-us .about-us-img .yea-exp .w-st {
  font-size: 57px !important;
  font-weight: 700 !important;
  position: relative;
  left: 10px;
}
@media (max-width: 480px) {
  .about-us .about-us-img .yea-exp .w-st {
    font-size: 41px !important;
    left: 7px;
  }
}
.about-us .about-us-img .yea-exp span {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 300;
}
@media (max-width: 480px) {
  .about-us .about-us-img .yea-exp span {
    font-size: 11px;
  }
}
.about-us .about-content .objec-list li {
  display: flex;
  line-height: 25px;
  padding-bottom: 15px;
  align-items: flex-start;
}
.about-us .about-content .objec-list li img {
  margin-right: 14px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .about-us .about-content {
    padding-top: 45px;
  }
}
.about-us .about-content h1 {
  padding-bottom: 15px;
}

.projects-area {
  background-image: url(../img/project-count-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
}
.projects-area .project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  padding: 60px 12%;
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0 20px 40px 1px #00000014;
}
@media (max-width: 1440px) {
  .projects-area .project-box {
    padding: 33px 7%;
  }
}
@media (max-width: 1366px) {
  .projects-area .project-box {
    padding: 17px 5%;
  }
}
@media (max-width: 768px) {
  .projects-area .project-box {
    padding: 67px 5%;
    box-shadow: 0 -1px 6px 1px #00000014;
  }
}
@media (max-width: 320px) {
  .projects-area .project-box {
    padding: 34px 5%;
  }
}
.projects-area .project-box h1, .projects-area .project-box h4 {
  color: #004aad;
}
.projects-area .project-box h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 58px;
}
@media (max-width: 1280px) {
  .projects-area .project-box h1 {
    font-size: 47px;
    line-height: 47px;
  }
}
.projects-area .project-box h4 {
  padding: 10px 0;
  font-weight: 600;
}
@media (max-width: 1366px) {
  .projects-area .project-box h4 {
    font-size: 24px;
  }
}
.projects-area .project-box h6 {
  color: #888;
  font-weight: 300;
  padding: 3px 0 5px;
}

.tech-partners {
  padding: 188px 0 590px;
}
@media (max-width: 1366px) {
  .tech-partners {
    padding: 148px 0 442px;
  }
}
@media (max-width: 1199px) {
  .tech-partners {
    padding: 148px 0 332px;
  }
}
@media (max-width: 993px) {
  .tech-partners {
    padding: 98px 0 320px;
  }
}
@media (max-width: 768px) {
  .tech-partners {
    padding: 18px 0 140px;
  }
}
@media (max-width: 575px) {
  .tech-partners {
    padding: 18px 0 97px;
  }
}
.tech-partners .container {
  position: relative;
}
.tech-partners .container .partner-content {
  position: relative;
  padding: 30px 0 380px;
}
@media (max-width: 1366px) {
  .tech-partners .container .partner-content {
    padding: 30px 0 200px;
  }
}
@media (max-width: 1199px) {
  .tech-partners .container .partner-content {
    padding: 30px 0 248px;
  }
}
@media (max-width: 768px) {
  .tech-partners .container .partner-content {
    padding: 30px 0 0px;
  }
}
@media (max-width: 575px) {
  .tech-partners .container .partner-content .sec-area .sec-heading {
    text-align: center;
  }
}
.tech-partners .container .partner-content .sec-area h2 {
  padding-top: 10px;
  font-weight: 300;
  color: #004aad;
  line-height: 43px;
}
@media (max-width: 575px) {
  .tech-partners .container .partner-content .sec-area h2 {
    text-align: center;
    line-height: 27px;
    font-size: 19px;
  }
}
.tech-partners .container .partner-content .sec-area h2 b {
  font-weight: 700;
}
@media (max-width: 1199px) {
  .tech-partners .container .partner-content .sec-area h2 br {
    display: none;
  }
}
@media (max-width: 480px) {
  .tech-partners .container .partner-content .sec-area h2 br {
    display: none;
  }
}
.tech-partners .container .partner-content .circle-elements {
  pointer-events: none;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-content .circle-elements {
    display: none;
  }
}
.tech-partners .container .partner-content .circle-elements .small-cirlc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: rotate(37deg);
}
.tech-partners .container .partner-content .circle-elements .bg-circle {
  position: absolute;
  left: -100px;
  z-index: 0;
  width: 100%;
  top: -99px;
}
@media (max-width: 993px) {
  .tech-partners .container .partner-content .circle-elements .bg-circle {
    top: -42px;
  }
}
.tech-partners .container .partner-boxes {
  width: 59%;
  position: absolute;
  top: -30px;
  right: 0;
  padding-bottom: 140px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(4, 33%);
  animation: movedown 5s infinite alternate;
}
@media (max-width: 575px) {
  .tech-partners .container .partner-boxes {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 185px);
  }
}
@media (max-width: 480px) {
  .tech-partners .container .partner-boxes {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 145px);
  }
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes {
    position: relative;
    width: 100%;
    top: 50px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0px;
  }
}
.tech-partners .container .partner-boxes .canvas-box-slider img {
  width: auto !important;
  margin: 0 auto !important;
}
.tech-partners .container .partner-boxes .canvas-box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 26px 1px #f5f5f5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 575px) {
  .tech-partners .container .partner-boxes .canvas-box {
    height: 185px;
  }
}
@media (max-width: 480px) {
  .tech-partners .container .partner-boxes .canvas-box {
    height: 153px;
  }
}
.tech-partners .container .partner-boxes .canvas-box:first-child {
  background-color: transparent !important;
  box-shadow: 0 0 !important;
}
@media (max-width: 575px) {
  .tech-partners .container .partner-boxes .canvas-box:first-child {
    display: none;
  }
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(odd) {
  box-shadow: 0 0 19px 5px #00000017;
  position: relative;
  animation: boxesodd 3s infinite alternate;
}
.tech-partners .container .partner-boxes .canvas-box:nth-child(even) {
  background-color: #f5f5f5;
  animation: boxeseven 3s infinite alternate;
}
.tech-partners .container .partner-boxes .canvas-box a {
  padding: 50px 6%;
  transition: all 0.5s;
}
.tech-partners .container .partner-boxes .canvas-box a:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
.tech-partners .container .partner-boxes .canvas-box a:hover .canva-hover {
  bottom: 15%;
}
@media (max-width: 768px) {
  .tech-partners .container .partner-boxes .canvas-box a:hover .canva-hover {
    bottom: 16%;
  }
}
.tech-partners .container .partner-boxes .canvas-box a .canva-hover {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}
.tech-partners .container .partner-boxes .canvas-box a .canva-hover p {
  color: #004aad;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-partners .container .partner-boxes .canvas-box a .canva-hover p .hvr-line {
  height: 1px;
  width: 20px;
  background-color: #004aad;
  display: block;
  margin: 0 2px;
}
@media (max-width: 1366px) {
  .tech-partners .container .partner-boxes .canvas-box a {
    padding: 35px 6%;
  }
}
@media (max-width: 480px) {
  .tech-partners .container .partner-boxes .canvas-box a {
    padding: 44px 6%;
  }
}
@media (max-width: 320px) {
  .tech-partners .container .partner-boxes .canvas-box a {
    padding: 35px 6%;
  }
}
.tech-partners .container .partner-boxes .canvas-box a img {
  transform: scale(1);
  transition: all 0.5s;
}

.tech-unit {
  background-image: url(../img/tech-units.jpg);
  background-repeat: no-repeat;
  background-position: left;
}
.tech-unit .tech-box-wraper {
  background-color: #004aad;
  padding: 5%;
  position: relative;
}
.tech-unit .tech-box-wraper .sec-heading {
  color: #fff;
  padding-left: 20px;
}
.tech-unit .tech-box-wraper .tech-unit-row {
  position: relative;
}
.tech-unit .tech-box-wraper .tech-unit-row::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row::after {
    display: none;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row::before {
    display: none;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
  color: #fff;
  height: 270px;
  position: relative;
  z-index: 1;
  padding-right: 28%;
  padding-top: 55px;
}
@media (max-width: 1600px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    padding-right: 23%;
  }
}
@media (max-width: 1440px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    padding-right: 11%;
    height: 300px;
  }
}
@media (max-width: 992px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    height: 340px;
  }
}
@media (max-width: 575px) {
  .tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox {
    padding-right: 0%;
    height: auto;
  }
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox h5 {
  font-weight: 600;
  padding-bottom: 10px;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6 .techbox::after {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 87px;
  z-index: -1;
  color: #1e60b6;
  font-weight: 700;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(1) .techbox {
  margin-left: 20px;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(1) .techbox::after {
  content: "01";
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(2) .techbox {
  margin-left: 15%;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(2) .techbox::after {
  content: "02";
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(3) .techbox {
  margin-left: 20px;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(3) .techbox::after {
  content: "03";
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(4) .techbox {
  margin-left: 15%;
}
.tech-unit .tech-box-wraper .tech-unit-row .col-lg-6:nth-child(4) .techbox::after {
  content: "04";
}

.working-area {
  background-image: url(../img/area-we-working-banner.jpg);
  padding: 70px 0;
}
@media (max-width: 768px) {
  .working-area {
    padding: 40px 0;
  }
}
@media (max-width: 480px) {
  .working-area {
    padding: 30px 0;
  }
}
.working-area .owl-carousel {
  margin: 0 !important;
}
.working-area .owl-carousel .owl-item img {
  width: auto !important;
  margin-bottom: 10px;
}
.working-area .owl-carousel .owl-nav {
  margin-top: 43px;
}
.working-area .owl-carousel .owl-nav button i {
  font-size: 37px;
  color: #fff;
}
.working-area .owl-carousel .owl-nav button:hover {
  background: transparent !important;
}
.working-area .owl-carousel .owl-nav button.disabled {
  opacity: 1;
}
.working-area .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 42%;
}
.working-area .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 42%;
}
.working-area .owl-carousel .owl-dots {
  margin-top: 49px;
}
.working-area .owl-carousel .owl-dots .owl-dot.active span {
  width: 35px !important;
  transition: all 0.5s;
  background: #fff !important;
}
.working-area .owl-carousel .owl-dots .owl-dot span {
  width: 12px !important;
  height: 12px !important;
  transition: all 0.5s;
  background: transparent !important;
  border: 2px solid #fff !important;
}
.working-area .sec-area h1 {
  color: #fff;
  padding-bottom: 35px;
}
@media (max-width: 480px) {
  .working-area .sec-area h1 {
    padding-bottom: 13px !important;
  }
}
.working-area .slide-item {
  height: 100%;
  border: 1px solid #fff;
  margin: 0 1px;
}
.working-area .slide-item .project-box {
  background-color: transparent;
  padding: 24px 3% 10px;
  margin-top: 0px;
  height: 100%;
  justify-content: start;
}
@media (max-width: 993px) {
  .working-area .slide-item .project-box {
    padding: 24px 3% 6px;
  }
}
.working-area .slide-item .project-box h1, .working-area .slide-item .project-box h4, .working-area .slide-item .project-box p {
  color: #fff;
}
.working-area .slide-item .project-box h4 {
  font-weight: 600;
  padding-bottom: 7px;
}
@media (max-width: 1366px) {
  .working-area .slide-item .project-box h4 {
    font-size: 17px;
  }
}

.director-message {
  padding: 148px 0 80px !important;
}
@media (max-width: 1280px) {
  .director-message {
    padding: 118px 0 80px !important;
  }
}
@media (max-width: 993px) {
  .director-message {
    padding: 38px 0 50px !important;
  }
}
@media (max-width: 768px) {
  .director-message {
    padding: 17px 0 30px !important;
  }
}
.director-message .sec-heading {
  padding-bottom: 15px;
}
.director-message .partner-content {
  padding: 30px 0 100px !important;
}
@media (max-width: 993px) {
  .director-message .partner-content {
    padding: 30px 0 50px !important;
  }
}
@media (max-width: 480px) {
  .director-message .partner-content {
    padding: 30px 0 30px !important;
  }
}
@media (max-width: 993px) {
  .director-message .partner-content .circle-elements .small-cirlc {
    bottom: -30px !important;
    transform: rotate(32deg) !important;
  }
}
.director-message .partner-content .abt-thumb-main {
  position: relative;
  display: table;
}
.director-message .partner-content .abt-thumb-main .abt-thumb {
  position: relative;
}
@media (max-width: 480px) {
  .director-message .partner-content .abt-thumb-main .abt-thumb {
    width: 100%;
  }
}
.director-message .partner-content .abt-thumb-main .hover-thumb {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.director-message .partner-content .abt-thumb-main .hover-thumb a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.director-message .partner-content .abt-thumb-main .hover-thumb a:hover img {
  transform: scale(1);
  transition: all 0.5s;
  opacity: 1;
}
.director-message .partner-content .abt-thumb-main .hover-thumb a img {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s;
}
.director-message .about-content h5 {
  font-weight: 700;
}

.services-area {
  padding: 100px 0;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
@media (max-width: 1600px) {
  .services-area {
    padding: 50px 0;
  }
}
@media (max-width: 1440px) {
  .services-area {
    padding: 40px 0;
  }
}
@media (max-width: 993px) {
  .services-area {
    padding: 80px 0;
  }
}
@media (max-width: 768px) {
  .services-area {
    padding: 29px 0;
    height: auto;
  }
}
@media (max-width: 575px) {
  .services-area {
    padding: 45px 0;
  }
}
@media (max-width: 480px) {
  .services-area {
    padding: 30px 0;
    height: auto;
  }
}
.services-area .s2-shape {
  position: absolute;
  top: -19%;
  right: -5%;
}
@media (max-width: 1600px) {
  .services-area .s2-shape {
    top: -22%;
    right: -7%;
  }
}
@media (max-width: 1440px) {
  .services-area .s2-shape {
    top: -24%;
    right: -10%;
  }
}
@media (max-width: 993px) {
  .services-area .s2-shape {
    top: -26%;
    right: -16%;
  }
}
@media (max-width: 768px) {
  .services-area .s2-shape {
    display: none;
  }
}
.services-area .s1-shape {
  position: absolute;
  bottom: -19%;
  left: -5%;
}
@media (max-width: 1600px) {
  .services-area .s1-shape {
    bottom: -23%;
    left: -8%;
  }
}
@media (max-width: 1440px) {
  .services-area .s1-shape {
    bottom: -29%;
    left: -11%;
  }
}
@media (max-width: 993px) {
  .services-area .s1-shape {
    bottom: -28%;
    left: -163px;
  }
}
@media (max-width: 768px) {
  .services-area .s1-shape {
    display: none;
  }
}
.services-area .hu-services-slider .carousel-indicators {
  position: relative;
  margin: 0;
  border-bottom: 2px solid #cccc;
  padding-bottom: 11px;
  padding-top: 44px;
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-indicators {
    padding-top: 14px;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-indicators .col-lsm {
    width: 33%;
  }
}
.services-area .hu-services-slider .carousel-indicators button {
  width: 100%;
  background-color: transparent;
  text-indent: 0px !important;
  font-size: 28px;
  font-weight: 600;
  color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 0px;
}
@media (max-width: 1440px) {
  .services-area .hu-services-slider .carousel-indicators button {
    font-size: 25px;
  }
}
@media (max-width: 1199px) {
  .services-area .hu-services-slider .carousel-indicators button {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-indicators button {
    font-size: 15px;
  }
}
.services-area .hu-services-slider .carousel-indicators .line-move {
  width: 33.3% !important;
  height: 2px;
  background: #004aad;
  position: absolute;
  left: 0;
  bottom: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-area .hu-services-slider .carousel-indicators .active {
  color: #004aad;
  transition: all 0.3s;
}
.services-area .hu-services-slider .carousel-indicators .col-lg-4:nth-child(2) .active {
  transition: all 0.9s;
}
.services-area .hu-services-slider .carousel-indicators .col-lg-4:nth-child(2) .active::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  transition: all 0.9s;
}
.services-area .hu-services-slider .carousel-indicators .col-lg-4:nth-child(3) .active {
  transition: all 0.9s;
}
.services-area .hu-services-slider .carousel-indicators .col-lg-4:nth-child(3) .active::after {
  right: 0 !important;
  left: initial !important;
  transition: all 0.9s;
}
.services-area .hu-services-slider .carousel-inner .back-set-rel {
  position: relative;
  padding: 33px 0;
  display: block;
}
@media (max-width: 1600px) {
  .services-area .hu-services-slider .carousel-inner .back-set-rel {
    padding: 25px 0;
  }
}
.services-area .hu-services-slider .carousel-inner .back-set-rel .back-supp {
  font-size: 20px;
  color: #004aad;
  opacity: 0;
  display: block;
  position: absolute;
  left: -30px;
  transition: all 0.5s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .back-set-rel .back-supp {
    font-size: 16px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item.active .back-set-rel .back-supp {
  display: none;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .hu-it-serv .owl-dots {
  margin: 0 auto;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .hu-it-serv .owl-nav {
  margin-top: 0px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .hu-it-serv .owl-nav button {
  background: #004aad !important;
  border-radius: 0;
  width: 27px;
  height: 27px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .hu-it-serv .owl-nav button i {
  color: #fff;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  flex-wrap: wrap;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box {
  width: calc(30% + 3px);
  background-color: #fff;
  box-shadow: 0 0 31px 2px #f0e7e7;
  margin-bottom: 45px;
  display: flex;
}
@media (max-width: 1600px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box {
    margin-bottom: 28px;
  }
}
@media (max-width: 1199px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box {
    width: calc(29% + 11px);
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box {
    width: 47%;
    margin-bottom: 23px;
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box {
    width: 100%;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(2), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(5), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(8), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(11) {
  margin: 0 4.5%;
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(2), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(5), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(8), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(11) {
    margin-inline: 4.5%;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(2), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(5), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(8), .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(11) {
    margin-inline: 0%;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:nth-child(odd) {
    margin-right: 5.5%;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box:last-child {
  margin-right: 0%;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 29px 33px;
  box-shadow: 0 0 31px 2px #f0e7e778;
}
@media (max-width: 1600px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    padding: 19px 23px;
    height: 103px;
  }
}
@media (max-width: 1366px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    height: 93px;
  }
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    height: 82px;
  }
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    padding: 20px 19px;
  }
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    height: 86px;
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header {
    padding: 13px 11px;
    height: 76px;
  }
}
@media (max-width: 1600px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header .app-icon {
    width: 49px;
  }
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header .app-icon {
    width: 53px;
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-header .app-icon {
    width: 32px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content {
  display: none;
  margin-top: 34px;
  padding: 0 31px 31px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content h4, .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content h5 {
  font-weight: 700;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content p {
  padding: 12px 0 4px;
  color: #888;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list {
  display: flex;
  margin-top: 14px;
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list {
    flex-direction: column;
    align-items: center;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li {
  margin-right: 21px;
  list-style: none;
  border: 2px solid #a1bbde;
}
@media (max-width: 575px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .portal-list li a {
  font-size: 18px;
  color: #fff;
  background: #004aad;
  width: 150px;
  display: block;
  padding: 10px 0px;
  text-align: center;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list {
  display: flex;
  margin-top: 14px;
  flex-wrap: wrap;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li {
  margin-right: 14px;
  list-style: none;
  border: 1px solid #c5c5c5;
  margin-top: 14px;
  border-radius: 35px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li a {
  font-size: 16px;
  color: #000;
  padding: 7px 7px;
  text-align: center;
  display: table;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .data-center-list li a img {
  margin-right: 3px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy {
  border: 2px solid #5f799cc7;
  margin-top: 20px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul {
  padding-left: 22px !important;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li {
  list-style: none;
  line-height: 42px;
  color: #888;
  display: flex;
  align-items: center;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy ul li img {
  margin-right: 12px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy h2.sec-title {
  font-size: 19px;
  font-weight: 500;
  position: relative;
  top: -13px;
  left: 20px;
  background: #ffff;
  display: table;
  padding: 0 4px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .security-policy h5 {
  padding-left: 22px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list {
  padding-top: 15px !important;
  display: flex;
  flex: wrap;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li {
  list-style-type: none;
  margin-right: 10px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a {
  padding: 0 15px 0 30px;
  height: 75px;
  background: #e1edff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.5s;
  position: relative;
  text-decoration: none;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a {
    padding: 10px 10px;
    height: initial;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a:hover {
  transition: all 0.5s;
  padding-right: 50px;
}
@media (max-width: 768px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a:hover {
    padding-right: 10px !important;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a:hover p {
  transition: all 0.5s;
  transform: scale(1);
  font-size: 18px;
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a p {
  transform: scale(0);
  font-size: 0px;
  margin-left: 17px !important;
  font-weight: 600;
  color: #004aad;
  transition: all 0.5s;
  transform-origin: left;
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box .app-content .social-list li a p {
    display: none !important;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current {
  width: 100%;
  transition: all 0.5s;
  flex-wrap: wrap;
  margin: 0;
  align-content: start;
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-header {
    padding: 17px 9px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content {
  height: 360px;
  overflow-y: scroll;
  /* width */
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content ::-webkit-scrollbar {
  width: 10px;
}
@media (max-width: 1280px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content {
    padding: 0 21px 21px;
  }
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap .app-box.current .app-content {
    padding: 0 21px 11px;
  }
}
.services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
  font-weight: 600;
  color: #004aad;
  margin-left: 15px !important;
  font-size: 19px;
}
@media (max-width: 1440px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    font-size: 17px;
  }
}
@media (max-width: 993px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .services-area .hu-services-slider .carousel-inner .carousel-item .application-wrap h3 {
    margin-left: 9px !important;
  }
}

footer .inner-footer {
  padding: 62px 35px 25px;
  background-color: #004aad;
  margin: 0 3%;
  position: relative;
}
@media (max-width: 768px) {
  footer .inner-footer {
    padding: 32px 35px 25px;
  }
}
@media (max-width: 480px) {
  footer .inner-footer {
    padding: 48px 12px 21px;
    margin: 0px 0;
  }
}
footer .inner-footer::after {
  content: "HUIT";
  font-size: 240px;
  color: #fff;
  pointer-events: none;
  opacity: 0.04;
  position: absolute;
  top: -85px;
  right: 15px;
  font-weight: 700;
}
@media (max-width: 1280px) {
  footer .inner-footer::after {
    font-size: 150px;
    top: -45px;
  }
}
footer .inner-footer h1, footer .inner-footer li, footer .inner-footer a {
  color: #fff;
}
footer .inner-footer .footer-left-cont .footer-logo {
  margin-bottom: 15px;
}
footer .inner-footer .footer-left-cont .address-detail li {
  line-height: 40px;
  list-style: none;
  font-size: 16px;
}
footer .inner-footer .footer-left-cont .address-detail li img {
  margin-right: 10px;
}
footer .inner-footer .footer-right h1 {
  font-size: 52px;
  padding-bottom: 15px;
  font-weight: 600;
}
@media (max-width: 1280px) {
  footer .inner-footer .footer-right h1 {
    font-size: 42px;
  }
}
@media (max-width: 993px) {
  footer .inner-footer .footer-right h1 {
    font-size: 36px;
  }
}
@media (max-width: 480px) {
  footer .inner-footer .footer-right h1 {
    font-size: 28px;
  }
}
footer .inner-footer .footer-right ul li {
  line-height: 32px;
  list-style: none;
  font-size: 16px;
}
footer .inner-footer .copy-right {
  text-align: right;
  color: #fff;
}
@media (max-width: 480px) {
  footer .inner-footer .copy-right {
    text-align: center;
  }
}

.projects-box-slider {
  margin: 0 !important;
}

svg {
  height: 100vh;
  width: 100vw;
}

path {
  fill: none;
  stroke-width: 0.5px;
}

.animation-banner {
  position: absolute;
  top: 90px;
}

#particle-canvas {
  width: 109%;
  height: 100vh;
  vertical-align: middle;
}

/*# sourceMappingURL=style.css.map */
