// Mixin

// Owl Carousel
@mixin OwlNavDots($prevNext:42%,  $iconFont: 37px){
    .owl-carousel{
         margin:0 !important;
         .owl-item{
             img{
                width: auto !important;
                margin-bottom: 10px;
            }
         }
        .owl-nav{
            margin-top: 43px;
            button{
                i {
                    font-size: 37px;
                    color: $white;
                }
                &:hover{
                    background: transparent !important;
                }
                &.disabled{
                    opacity:1;
                }
            }
            .owl-prev {
                position: absolute;
                left: $prevNext;
            }   
            .owl-next {
                position: absolute;
                right: $prevNext;
            }     
        }
        .owl-dots {
            margin-top: 49px;
            .owl-dot{
                
                &.active{
                    span{
                        width: 35px !important;
                        transition: all .5s;
                        background: $white !important;
                    }
                }
                span{
                    width: 12px !important;
                    height: 12px !important;
                    transition: all .5s;
                    background: transparent !important;
                    border: 2px solid $white !important;
                }
            }
        }
    }
}
// Owl Carousel


// flex Mixin
@mixin FlexDAJ($flex: $d-flex, $dir: $di-ro , $alig: $al-st, $just: $ju-st){
    display: $flex;
    flex-direction: $dir;
    align-items: $alig;
    justify-content: $just;
    flex-wrap: wrap;
}
// flex Mixin


// Btn Default
@mixin btn-default($bg-clr:#004aad, $bdr-clr:#93bdf7, $clr:#fff){
    border: 2px solid $bdr-clr;
    background-color: $bg-clr;
    color: $clr;
    padding: 14px 26px;
    display: table;
    text-decoration: none;
    margin-top: 30px;
    font-size:16px;
    font-weight: $Medium;
    transition: all 0.5s;
    @include sm{
        padding: 9px 16px;
        margin-top: 15px;
        font-size: 13px;
    }
    &:hover{
        box-shadow: 0px -70px 0px 0px inset $white !important;
        color: #004aad;
    }
}





//Translate Position

@mixin center($position) {
    position: absolute;
    
    @if $position == 'vertical' {
      top: 50%;
      transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
      left: 50%;
      transform: translate(-50%);
    }
    @else if $position == 'both' {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

//   @include center(both);

//Translate Position



// Not Use Yet 

/* Sass code */
// @for $i from 1 through 8 {
//     $width: percentage(1 / $i);
//     .colu-#{$i} {
//         width: $width;
//     }

//     // How Formula WOrk
//     // 1/1 = 100% 
//     // 1/2 = 50%
//     // 1/3 = 33.33%
//     // 1/4 = 25%
//     // How Formula WOrk

 
// }
 
/* output */
// .colu-1 {width: 100%;}
// .colu-2 {width: 50%;}
// .colu-3 {width: 33.333%;}
// .colu-4 {width: 25%;}
// .colu-5 {width: 20%;}
// .colu-6 {width: 16.666%;}
// .colu-7 {width: 14.285%;}
// .colu-8 {width: 12.5%;}



// Font Size Calculation
// @function calculateRem($size) {
//     $remSize: $size / 16px;
//     @return $remSize * 1rem;
// }

// @mixin font-size($size) {
//     font-size: $size;
//     font-size: calculateRem($size);
// }

// .ars{
//     @include font-size(14px);
// }
// Font Size Calculation



@mixin owl-responsive-style($dot-clr:#fff){
    margin-top: 49px;
    .owl-dot{
        
        &.active{
            span{
                width: 35px !important;
                transition: all .5s;
                background: $dot-clr !important;
            }
        }
        span{
            width: 12px !important;
            height: 12px !important;
            transition: all .5s;
            background: transparent !important;
            border: 2px solid $dot-clr !important;
        }
    }
}


// Banner Mixin
@mixin bg-props($bgsize:cover , $bgrepeat:no-repeat , $bgpos:center) {
    background-repeat: $bgrepeat;
    background-size: $bgsize;
    background-position: $bgpos;
}
//  Banner Mixin
// Banner Loop For Multiple Pages
@for $i from 18 through 22 {
    .banner-#{$i} {
        background-image: url(../img/bg/banner-#{$i}.jpg);
    }
}
// Banner Loop For Multiple Pages

